$admin : "[data-fc-route^='admin_']";
$groups : "[data-fc-route^='groups_']";
$home : "[data-fc-route^='home_']";
$pages : "[data-fc-route^='pages_']";
$posts : "[data-fc-route^='posts_']";
$user : "[data-fc-route^='user_']";
