{
  "presets": [
    ["@babel/preset-env",
      {
        "corejs": { "version":  "3.8" },
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": ["transform-class-properties", "@babel/plugin-proposal-object-rest-spread"]
}
