# made this alphabetical - smh
.DS_Store
*/.DS_Store
*/*/.DS_Store
.editorconfig
.idea
.npmrc
.tern-project
.vscode
jsconfig.json
lib/index.js
node_modules/
npm-debug.log
package-lock.json
public/assets/js/
public/assets/css/
build/
src/views/common/
