# made this alphabetical - smh
.DS_store
*/.DS_store
.editorconfig
.idea
.npmrc
.tern-project
.vscode
jsconfig.json
lib/index.js
node_modules/
npm-debug.log
public/assets/css/
public/assets/js/
public/assets/trumbowyg/
