# made this alphabetical - smh
.DS_Store
*/.DS_Store
*/*/.DS_Store
.editorconfig
.idea
.npmrc
.tern-project
.vscode
jsconfig.json
lib/index.js
node_modules/
npm-debug.log
package-lock.json
public/assets/js/
public/assets/css/
build/
src/views/common/
public/assets/images/yahoo.png
public/assets/images/abc_nightline.png
public/assets/images/cnn.png
public/assets/images/esquire.png
public/assets/images/nbc_today.png
public/assets/images/newsweek.png
public/assets/images/newyorktimes.png
public/assets/images/parade.png
public/assets/images/people.png
public/assets/images/time.png
public/assets/images/wallstreet.png
