@mixin btn() {
  padding: .875rem;
  border-radius: 10px;
  color: $white;
  font-family: $header-font-family;
  font-weight: bold;
  text-transform: uppercase;
  font-size: rem-calc(12px);
  transition: background-color 250ms ease;
  &:hover {
    color: $white;
  }
}

.btn {
  @include btn();
}

/*  DEFAULT  */
.btn-default-color {
  background-color: palette(primary);
}

.btn-default-hover {
  background-color: palette(primary-darken);
}

.btn-default {
  @extend .btn;
  @extend .btn-default-color;
  &:hover {
    @extend .btn-default-hover;
  }
}

/*  ACTION  */
.btn-action-color {
  background-color: $medium-gray;
}

.btn-action-hover {
  background-color: $dark-gray;
}

.btn-action {
  @extend .btn;
  @extend .btn-action-color;
  &:hover {
    @extend .btn-action-hover;
  }
}

/*  OFFER  */
.btn-offer-color {
  background-color: palette(offer);
}

.btn-offer-hover {
  background-color: palette(offer-darken);
}

.btn-offer {
  @extend .btn;
  @extend .btn-offer-color;
  &:hover {
    @extend .btn-offer-hover;
  }
}

/*  WANTED  */
.btn-wanted-color {
  background-color: palette(wanted);
}

.btn-wanted-hover {
  background-color: palette(wanted-darken);
}

.btn-wanted {
  @extend .btn;
  @extend .btn-wanted-color;
  &:hover {
    @extend .btn-wanted-hover;
  }
}

/*  LEND  */
.btn-lend-color {
  background-color: palette(lend);
}

.btn-lend-hover {
  background-color: palette(lend-darken);
}

.btn-lend {
  @extend .btn;
  @extend .btn-lend-color;
  &:hover {
    @extend .btn-lend-hover;
  }
}

/*  BORROW  */
.btn-borrow-color {
  background-color: palette(borrow);
}

.btn-borrow-hover {
  background-color: palette(borrow-darken);
}

.btn-borrow {
  @extend .btn;
  @extend .btn-borrow-color;
  &:hover {
    @extend .btn-borrow-hover;
  }
}
.btn-wide {
  @extend .btn;
  padding-left: 3rem;
  padding-right: 3rem;
}

.btn-subtle {
    @extend .btn;
    color: gray;
    border: 4px solid gray;
}

.btn-subtle:hover {
  color: white;
  background-color: gray;
  border: 4px solid gray;
}

.btn-alert {
    background-color: #ec5840;
    &:hover {
      background-color: #cc4b37;
    }
}

/* DELETE */
.btn-delete-color {
  background-color: palette(delete);
}

.btn-delete-hover {
  background-color: palette(delete-darken);
}

.btn-delete {
  @extend .btn;
  @extend .btn-delete-color;
  &:hover {
    @extend .btn-delete-hover;
  }
}
