.button-bar {
  background: $white;
  /* Medium and up */
  @media screen and (min-width: 40em) {
    & {
      display: flex;
      align-items: center;
      justify-content:center;
    }
  }
  button {
    width: 100%;
    padding:1rem;
    text-align: center;

    .icon-container {
      justify-content: center;
    }

    &.active {
      background: $black;
    }
    border-right:1px solid $light-gray;

    &:last-of-type {
      border-right:none;
    }
  }  
}
