@mixin chevron() {
  width: 1rem;
}

.icon-chevron {
  @include chevron();
}

.icon-chevron-offer {
  @extend .icon-chevron;
  transform: rotate(-90deg);
  path {
    &:first-child {
      fill: palette(offer-darken);
    }
    fill: palette(offer);
  }
}

.icon-chevron-wanted {
  @extend .icon-chevron;
  transform: rotate(90deg);
  path {
    &:first-child {
      fill: palette(wanted-darken);
    }
    fill: palette(wanted);
  }
}

.icon-chevron-lend {
  @extend .icon-chevron;
  transform: rotate(180deg);
  path {
    &:first-child {
      fill: palette(lend-darken);
    }
    fill: palette(lend);
  }
}

.icon-chevron-borrow {
  @extend .icon-chevron;
  path {
    &:first-child {
      fill: palette(borrow-darken);
    }
    fill: palette(borrow);
  }
}

.icon-chevron-taken {
  @extend .icon-chevron;
  transform: rotate(-90deg);
  path {
    &:first-child {
      fill: darkgrey;
    }
    fill: lightgrey;
  }
}

.icon-chevron-received {
  @extend .icon-chevron;
  transform: rotate(90deg);
  path {
    &:first-child {
      fill: lightgrey;
    }
    fill:darkgrey;
  }
}
