form {
    position: relative;
    .form-overlay .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: block;
        width: 170px;
        height: 160px;
        text-transform: uppercase;
        &.medium {
            height: 60px;
            width: 80px;
        }
    }
    &:not([data-running="true"]) .form-overlay {
        display: none;
    }
    &[data-running="true"] .form-overlay {
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: -20%;
        bottom: 0;
        margin: auto;
    }
}