.dropbox {
    outline: 2px dashed grey; /* the dash box */
    outline-offset: -10px;
    background: lightcyan;
    color: dimgray;
    padding: 0px 0px;
    min-height: 200px; /* minimum height - note: using rem units messes this up in Firefox.*/
    position: relative;
    cursor: pointer;
 }

.input-file {
    opacity: 0; /* invisible but it's there! */
    width: 100%;
    height: 200px;
    position: absolute;
    cursor: pointer;
}

.dropbox:hover {
    background: lightblue; /* when mouse over to the drop zone, change color */
}

.dropbox p {
    font-size: 1.2em;
    text-align: center;
    padding: 50px 0;
}

.uploaded-files .img-block {
    margin: 20px 40px;
    display: inline-block;
}

.img-block img {
    max-width: 200px;
    max-height: 200px;
    display: block;
}

button.del-img {
    max-width: 125px;
    margin-top: 15px;
    background-color: crimson;
}

button.del-img:hover {
    background-color: maroon;
}
