.color-palette {
  margin-bottom: 4rem;
}

.color-palette-group {
  background-color: $white;
  height: 340px;
  border: 1px dashed $white;
  text-align: center;
  padding: 2rem;
  margin: 0 4px 8px;
}

.color-palette-group-title {
  @include heading-text();
  color: $dark-gray;
}

.color-palette-group-panels {
  display: flex;
  display: -ms-flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.color-palette-group-panel {
  height: 100px;
  margin-top: 1rem;
  width: 50%;
  display: flex;
  display: -ms-flex;
  align-items: center;
  justify-content: center;
}

.color-palette-group-panel-color {
  @include heading-text();
  color: $white;
}

// set custom styles for the white/light color panels
.neutral-group {
  .color-palette-group-panel:nth-child(1) {
    border: 2px solid $light-gray;
    .color-palette-group-panel-color {
      color: $medium-gray;
    }
  }
  .color-palette-group-panel:nth-child(2) {
    .color-palette-group-panel-color {
      color: $dark-gray;
    }
  }
}

// TODO: add margin in between color-palette-groups