.hamburger-icon {
  color: $black;
  position: absolute;
  top: 45px;
  right: -10px;
  width: 1rem;
  height: 10px;

  @include breakpoint(header) {
    display: none;
  }
}

.hamburger-icon .line {
  display: block;
  background: #444;
  width: 18px;
  height: 2px;
  position: absolute;
  padding: 1px 0;
  left: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s
}

.hamburger-icon .line.line-1 {
  top: 0
}

.hamburger-icon .line.line-2 {
  top: 50%
}

.hamburger-icon .line.line-3 {
  top: 100%
}

.hamburger-icon:hover .line-1,.hamburger-icon:focus .line-1 {
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px)
}

.hamburger-icon:hover .line-3,.hamburger-icon:focus .line-3 {
  transform: translateY(1px);
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px)
}

.hamburger-icon.active .line-1 {
  transform: translateY(5px) translateX(0) rotate(45deg);
  -webkit-transform: translateY(5px) translateX(0) rotate(45deg);
  -moz-transform: translateY(5px) translateX(0) rotate(45deg)
}

.hamburger-icon.active .line-2 {
  opacity: 0
}

.hamburger-icon.active .line-3 {
  transform: translateY(-5px) translateX(0) rotate(-45deg);
  -webkit-transform: translateY(-5px) translateX(0) rotate(-45deg);
  -moz-transform: translateY(-5px) translateX(0) rotate(-45deg)
}