/*
 *  Header imports
 */
@import "hamburger_menu";
@import "header_search";
@import "header_user_buttons";


/*
 *  Header component styles
 */

.header {
  background: $white;
}

.header-outer {
  border-top: 2px solid $medium-gray;
  margin-top: 0px;
  padding-top: 10px;

  @include breakpoint(header) {
    border-bottom: 2px solid $medium-gray;
  }
}

.header-outer:last-child {
  @include breakpoint(header) {
    border-top: none;
  }
}

.header-inner {
  height: auto;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;

  @include breakpoint(header) {
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    height: 90px;
  }
}

.header-logo {
  position: relative;
  //border-bottom: 2px solid $medium-gray;
  order: 1;
  margin-top: 0px;
  margin-bottom: 10px;

  svg {
    height: 78px;
    margin: 0 1.25rem;

    @include breakpoint(header) {
      margin: 0;
    }
  }

  @include breakpoint(header) {
    flex: 0;
    border: none;
  }
}

.header-stretch {
  flex: 1;
  display: flex;
  align-items: flex-start;
  margin: 1.25rem;
  order: 3;
  justify-content: space-between;

  @include breakpoint(header) {
    margin: 0;
  }
}

.header-links {
  order: 2;
  text-align: center;
  position: relative;
  margin-bottom: -7px;
  overflow: hidden;
  transition: all 250ms ease;
  height: 60px;
  padding-top: 15px;
  border-top: 2px solid $medium-gray;

  @media #{$large-up} {
    top: -7px;
    border-bottom: 2px solid $medium-gray;
    border-top: none;
    max-height: 0;
    height: auto;
    padding-top: 0;
  }

  &.hamburger-menu-open {
    padding: 1.25rem;
    top: 0;
    margin: 0;
    max-height: 150px;
  }

  @include breakpoint(header) {
    display: block;
    order: 3;
    position: static;
    padding: 0;
    margin: 0;
    border: none;
    max-height: 150px;
    overflow: visible;
  }
}

.header-button {
    @include heading-text();
    margin-top: -4px;
    padding: 0.875rem 1.2rem;
}
