.header-user-buttons {
  display: flex;
  height: 40px;
  align-items: center;
}

.header-user-buttons-list {
  display: flex;
  list-style-type: none;
  margin-bottom: 0;
}

.header-user-buttons-list-right {
  border-left: 2px solid #d4cfc7;
  padding-left: 15px;
  margin-left: 15px;
}

.header-user-button {
  margin: 0 15px;
  svg {
    width: 1.25rem;
    vertical-align: middle;
    fill: $black;
  }

  span {
    vertical-align: middle;
  }
}

.header-user-button:hover {
  color: #2199e8;
  svg {
    fill: #2199e8;
  }
}