.horizontal_tabs {
  margin-top: 0rem;

  .tabs {
    @include tabsReset();
    //border-top: 2px solid $medium-gray;
    border-bottom: 2px solid $medium-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-flow: row wrap;

    @media #{$medium-up} {
      flex-direction: row;
    }
  }

  &.large-up{
    .tabs {
      @media #{$medium-up} {
        flex-direction: column;
      }
      @media #{$large-up} {
         flex-direction: row;
      }
    }
  }


  .tabs-title {
    flex: 0;
    white-space: nowrap;
    width: 100%;
    @media #{$medium-up} {
      width: auto;
    }
  }

  .tabs-panel {
    padding: 1rem;
  }
  .tabs-content {
    background: none;
    border: none;
  }
}
