.in-body-ad-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;

  @media #{$medium-up} {
    flex-direction: row;
  }
}

.in-body-banner-ad {
  height: 250px;
  width: 300px;
  background-color: $medium-gray;
  color: $white;
  font-family: $header-font-family;
  line-height: 250px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
  @media #{$medium-up} {
    margin-bottom: 0;
  }
}