.friend-circle {
	.cls-1 {
		fill: #bab6af;
	}

	.cls-2 {
		fill: #ff9800;
	}

	.cls-3 {
		fill: #00bcd4;
	}

	.cls-4 {
		fill: #673ab7;
	}

	.cls-5 {
		fill: #ff5722;
	}
}

.logo-my {
	.cls-1 {
		fill: #fff !important;
	}

	.cls-2 {
		fill: #284e36 !important;
	}

	.cls-3,
	.cls-4 {
		fill: #34b233 !important;
	}

	.cls-4 {
		opacity: 0.6;
	}
}

.fc-logo-svg {
	.cls-1 {
		fill: #fff;
	}

	.cls-2 {
		fill: #284e36;
	}

	.cls-3,
	.cls-4 {
		fill: #34b233;
	}

	.cls-4 {
		opacity: 0.6;
	}
}

.reveal-overlay {z-index: 9999;}
