.post-list-item {
  min-height: rem-calc(7em);
  background: $white;
  padding: rem-calc(5px);
  margin-bottom: rem-calc(6px);
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  padding-top: rem-calc(45px);
  @media #{$medium-up} {
    flex-direction: row;
    padding-top: rem-calc(5px);
  }

  .post-list-item-photo {
    display: flex;
    height: auto;
    width: 100%;
    margin-bottom: 8px;
    align-items: center;
    padding-bottom: rem-calc(5px);
    @media #{$medium-up} {
      padding-bottom: rem-calc(0);
      width: 128px;
      margin-bottom: 0;
    }

    .post-image-placeholder {
      border: none;
      position: relative;
      height:0;
      width: 100%;
      padding: 0;
      padding-bottom: 92%;
      margin: auto;

    }

    img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
  }

  .post-list-item-content {
    flex: 3;
    min-height: 6.5em;
    padding-left: rem-calc(10px);
    padding-right: rem-calc(10px);
    width: 100%;
  }

  .post-list-item-content-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;

    @media #{$medium-up} {
      flex-direction: row;
      padding-bottom: rem-calc(5px);
      border-bottom: 2px solid $body-background;
    }

  }
  .post-list-item-header-left, .post-list-item-header-right {
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: rem-calc(10px);
    @media #{$medium-up} {
      justify-content: flex-start;
      padding-bottom: rem-calc(0);
    }
  }
  .post-list-item-header-left {
    flex-direction: column;
    justify-content: left;
    border-bottom: 2px solid $body-background;
    @media #{$medium-up} {
      justify-content: flex-start;
      border-bottom: none;
      flex-direction: initial;
    }
  }
  .post-list-item-header-right {
    justify-content: center;
    padding-top: 7px;
    @media #{$medium-up} {
      padding-top: 0;
      justify-content: flex-end;
    }
  }

  .post-list-item-date {
    top: 6px;
    right: 15px;
    position: absolute;
    @media #{$medium-up} {
      position: relative;
      top: 0;
      right: 0;
    }
  }

  .post-list-item-header-icon {
    width: 100%;
    @media #{$medium-up} {
      width: auto;
    }
    svg {
      height: rem-calc(20px);
    }
  }

  .post-list-item-category-icon, .post-list-item-header-icon {
    display: flex;
    align-items: center;
    @include iconWithLeftText();
  }

  .post-list-item-category-icon {
    margin-right: rem-calc(40px);
    position: absolute;
    top: 7px;
    left: 18px;
    @media #{$medium-up} { 
      position: relative;
      top: 0;
      left: 0;
    }
  }

  .post-list-item-header-right {
    button {
      @media #{$medium-up} {
        margin-left: rem-calc(40px);
      }
    }
  }
  .post-list-item-content-description {
    padding-top: rem-calc(1px);
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    font-size: rem-calc(10px);
    max-height: 4.6em;
    text-align: justify;
    width: 100%;
    margin-bottom: 10px;
    margin-right: -1em;
    padding-right: 1em;
    @media #{$medium-up} {
      margin-bottom: 0;
      max-width: 75%;
    }
    h4 {
      font-size: rem-calc(18px);
      font-weight: bold;
      padding-bottom: 0;
      margin-bottom: 0;
      @media #{$medium-up} {
        font-size: rem-calc(14px);
      }
    }
    p {
      &:last-child {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: .25em;
        font-size: rem-calc(12px);
      }
    }
  }

  // ellipsis after truncated text
  .post-list-item-content-description:before {
    font-weight: bold;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .post-list-item-content-description:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
  }


}
