.post-list-item {
  min-height: rem-calc(7em);
  background: $white;
  padding: rem-calc(5px);
  margin-bottom: rem-calc(6px);
  display: flex;
  flex-direction: column;

  @media #{$medium-up} {
    flex-direction: row;
  }

  .post-list-item-photo {
    flex: 1;
    display: flex;
    height: 5em;
    width: auto;
    //align-items: center;
    padding-bottom: rem-calc(5px);
    @media #{$medium-up} {
      padding-bottom: rem-calc(0);
    }

  }

  .post-list-item-content {
    flex: 3;
    min-height: 6.5em;
    padding-left: rem-calc(10px);
    padding-right: rem-calc(10px);

  }

  .post-list-item-content-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
    border-bottom: 2px solid $body-background;

    @media #{$medium-up} {
      flex-direction: row;
      padding-bottom: rem-calc(5px);
    }

  }
  .post-list-item-header-left, .post-list-item-header-right {
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: rem-calc(10px);
    @media #{$medium-up} {
      justify-content: flex-start;
      padding-bottom: rem-calc(0);
    }
  }
  .post-list-item-header-left {
    justify-content: center;
    @media #{$medium-up} {
      justify-content: flex-start;
    }
  }
  .post-list-item-header-right {
    justify-content: center;
    @media #{$medium-up} {
      justify-content: flex-end;
    }
  }

  .post-list-item-header-icon {
    svg {
      height: rem-calc(20px);
    }
  }

  .post-list-item-category-icon, .post-list-item-header-icon {
    display: flex;
    align-items: center;
    @include iconWithLeftText();
  }

  .post-list-item-category-icon {
    margin-right: rem-calc(40px);
  }

  .post-list-item-header-right {
    button {
      margin-left: rem-calc(40px);
    }
  }
  .post-list-item-content-description {
    padding-top: rem-calc(1px);
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    line-height: 1.2em;
    font-size: rem-calc(10px);
    max-height: 4.6em;
    text-align: justify;
    width: max-content;
    max-width: 75%;
    margin-right: -1em;
    padding-right: 1em;
    h4 {
      font-size: rem-calc(14px);
      font-weight: bold;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    p {
      &:last-child {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: .25em;
        font-size: rem-calc(12px);
      }
    }
  }

  // ellipsis after truncated text
  .post-list-item-content-description:before {
    content: '...';
    font-weight: bold;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .post-list-item-content-description:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
  }


}
