{% extends '../layout/layout.html' %}

{% block content %}
{% for error in errors %}
    {% if error.message %}
    <p class="callout alert">{{ error.message }}</p>
    {% endif %}
{% endfor %}
{% include './groups_header.html' with {
    group: data.group,
    isMember: data.isMember,
    isPending: data.isPending,
    membershipLimitReached: data.membershipLimitReached
  }
%}
<div class="horizontal_tabs">

  <!--  tabs  -->
  {% include '../partials/group_tabs.html' with { group: data.group } %}

  <!--  tabs-content  -->

  <div class="tabs-content">
    <div>
    {% if route.id === 'groups_main' %}

      <div class="nearby-wrapper">
        {% include '../partials/nearby_groups.html' with {
            currentGroup: data.group,
            groups: data.groups,
            noCoordinates: data.noCoordinates
          }
        %}
      </div>
      {% include '../partials/item_list.html'%}

    {% elseif route.id === 'groups_notices' %}

      {% include './notices.html' with { notices: data.notices, groupId: data.group.group_id } %}

    {% elseif route.id === 'groups_notices_detail' %}

      <div class="row group-notice-detail">
          <h2>{{ data.notice.description|default(data.notice.filename)|safe }}<h2>
          {% if data.notice.mimetype === 'text/html' %}
            {{ data.notice.content|sanitizeHtml({ moderator: true })|safe }}
          {% else %}
            <p>
              {{ data.notice.content|safe }}
            </p>
          {% endif %}
      </div>

    {% elseif route.id === 'groups_info' %}

      <div class="row group-info">
        <div class="group-info-wrapper medium-8">
          {{ data.subbedDescription|sanitizeHtml({ moderator: true })|safe }}
        </div>
      </div>

    {% elseif route.id === 'groups_contact' %}

      <div class="row">
        <h2 class="text-center">Email the group's moderation team</h2>
        <fc-form action="/town/{{ data.group.group_id }}/contact">
          <label for="contact-sender">From</label>
          <input id="contact-sender" name="from" type="text" value="{{ data.userEmail }}" required />
          <label for="contact-subject">Subject</label>
          <input id="contact-subject" name="subject" type="text" maxlength="78" required /> {# 78 maxlength per https://tools.ietf.org/html/rfc2822#section-2.1.1 #}
          <label for="contact-message">Message</label>
          <textarea id="contact-message" name="message" rows="8" required ></textarea>
          <div class="row text-center">
            <button type="submit" class="btn btn-default small-5">Send</button>
          </div>
        </fc-form>
      </div>

    {% endif %}

    {% include '../partials/in_body_banner_row.html'%}
    </div>
  </div>
</div>

{% endblock %}
