{% extends '../layout/layout.html' %}

{% block content %}
{% for error in errors %}
    {% if error.message %}
    <p class="callout alert">{{ error.message }}</p>
    {% endif %}
{% endfor %}
{% include './groups_header.html' with {
    group: data.group,
    isMember: data.isMember,
    isPending: data.isPending,
    membershipLimitReached: data.membershipLimitReached
  }
%}
<div class="horizontal_tabs">

  <!--  tabs  -->
  {% include '../partials/group_tabs.html' with { group: data.group } %}

  <!--  tabs-content  -->

  <div class="tabs-content">
    <div>
    {% if route.id === 'groups_main' %}

      <div class="nearby-wrapper">
        {% include '../partials/nearby_groups.html' with {
            currentGroup: data.group,
            groups: data.groups
          }
        %}
      </div>
      {% include '../partials/item_list.html'%}

    {% elseif route.id === 'groups_notices' %}

      {% include './notices.html' with { notices: data.notices, groupId: data.group.group_id } %}

    {% elseif route.id === 'groups_notices_detail' %}

      <div class="row">
          <a href="/town/{{ data.group.group_id }}/notices" class="notices-back btn-default header-button">Back to Notices</a>
          <div class="group-notice-detail">
            <h2>{{ data.notice.description|default(data.notice.filename)|safe }}<h2>
            {% if data.notice.mimetype === 'text/html' %}
              {{ data.notice.content|sanitizeHtml({ moderator: true })|safe }}
            {% else %}
              <p>
                {{ data.notice.content|safe }}
              </p>
            {% endif %}
          </div>
      </div>

    {% elseif route.id === 'groups_info' %}

      <div class="row group-info">
        <div class="group-info-wrapper medium-8">
          {{ data.subbedDescription|sanitizeHtml({ moderator: true })|safe }}
        </div>
      </div>

    {% endif %}

    {% include '../partials/in_body_banner_row.html'%}
    </div>
  </div>
</div>

{% endblock %}
