{% extends '../layout/layout.html' %}

{% block content %}

{% include './groups_header.html'%}

<div class="horizontal_tabs">
  <!--  tabs  -->
  {% include '../partials/group_tabs.html' %}

  <!--  tabs-content  -->
  <div class="tabs-content" data-tabs-content="h-example-tabs">
    <div class="tabs-panel" id="group_posts">
    </div>
    <div class="tabs-panel is-active" id="group_guidelines">
      Group Guidelines
      {% include '../partials/in_body_banner_row.html'%}
    </div>
    <div class="tabs-panel" id="group_announcements">
    </div>
    <div class="tabs-panel" id="group_contact">
    </div>
    <div class="tabs-panel" id="group_info">
    </div>
  </div>
</div>

{% endblock %}
