table {
  tr {
    border-bottom: 2px solid $light-gray;
  }
  thead {
    border: none;

    th {
      color: $dark-gray;
      font-size: .875rem;
      background: $white;
    }
  }
  tbody {
    border: none;
    td {
      padding: 1rem;
      background: $white;
      font-family: $header-font-family;
      font-weight: bold;
      h4 {
        color: palette(primary);
      }
    }
  }
}
