
#{$groups} {
  .post-header-title {
    margin: 36px 0 5px;
  }

  .post-header-subtitle {
    font-family: "Roboto Slab", serif;
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    text-align: center;
    color: #bab6af;
  }

  .post-header-subtitle a {
    display: inline-block;
  }

  .horizontal_tabs {
    margin-top: 2rem;
  }

  .nearby-wrapper {
    display: none;

    @include breakpoint(header) {
      display: block;
    }
  }

  .group-notice, .group-notice-detail, .group-info {
    background: #fff;
    padding: 1.25rem;
    margin-bottom: .375rem;
  }

  .group-notice h4 {
    font-size: 1.875rem;
    font-weight: 700;
  }

  /* Respects line-break characters e.g. \n potentially present in text content of notice files */
  .group-notice-detail {
      white-space: pre-line;
  }

  .group-info-wrapper {
    margin: auto;
  }

  .upper-ad-wrapper {
    @include breakpoint(header) {
      display: none;
    }
  }

  .upper-ad-wrapper .in-body-banner-ad {
    margin-left: auto;
    margin-right: auto;
  }

  .group-menu-links .tabs-title a {
    padding: 1.5rem 0.5rem;

    @include breakpoint(header) {
      padding: 1.5rem 1.5rem;
    }
  }

  .in-body-ad-row {
    margin-top: 1.25rem;
  }

  .in-body-ad-row .in-body-banner-ad:first-child {
    display: none;

    @include breakpoint(header) {
      display: block;
    }
  }

  .item-list-tags {
    padding-top: 0.438em;
    padding-bottom: 0;
  }

  .group-tabs-container {
    padding: 1rem;
    align-items: center;
    justify-content: center;
  }

  /* hambuger icon */
  .group-hamburger-icon {
    color: $black;
    position: absolute;
    margin-top: 1.406rem;
    right: 2.500rem;
    width: 1rem;
    height: 10px;

    @include breakpoint(medium) {
      display: none;
    }
  }

  .group-hamburger-icon .line {
    display: block;
    background: #444;
    width: 18px;
    height: 2px;
    position: absolute;
    padding: 1px 0;
    left: 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s
  }

  .group-hamburger-icon .line.line-1 {
    top: 0
  }

  .group-hamburger-icon .line.line-2 {
    top: 50%
  }

  .group-hamburger-icon .line.line-3 {
    top: 100%
  }

  .group-hamburger-icon:hover .line-1,.group-hamburger-icon:focus .line-1 {
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px)
  }

  .group-hamburger-icon:hover .line-3,.group-hamburger-icon:focus .line-3 {
    transform: translateY(1px);
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px)
  }

  .group-hamburger-icon.active .line-1 {
    transform: translateY(5px) translateX(0) rotate(45deg);
    -webkit-transform: translateY(5px) translateX(0) rotate(45deg);
    -moz-transform: translateY(5px) translateX(0) rotate(45deg)
  }

  .group-hamburger-icon.active .line-2 {
    opacity: 0
  }

  .group-hamburger-icon.active .line-3 {
    transform: translateY(-5px) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(-5px) translateX(0) rotate(-45deg);
    -moz-transform: translateY(-5px) translateX(0) rotate(-45deg)
  }

  /* hamburger menu links */
  .group-menu-links {
    display: block;
    text-align: center;

    &.group-menu-open {
      top: 0;
      margin: 0;
      max-height: 150px;
    }

    &.group-menu-open li {
      display: list-item;
      width: 100%;
      background-color: $light-gray;
    }

    @include breakpoint(medium) {
      order: 3;
      position: static;
      padding: 0;
      margin-left: auto;
      margin-right: auto;
      max-height: 150px;
      overflow: visible;
      display: flex;
      text-align: start;
    }
  }

  .group-menu-links li {
    display: none;

    &.is-active {
      display: list-item;
      width: 100%;
    }

    @include breakpoint(medium) {
      display: list-item;

      &.group-menu-open {
        width: auto;
      }
    }
  }
}
