
// home/new_post
.new_post {
  .terms-conditions a {
    font-size: 0.75rem;
  }
}

// home/alerts
.alerts_existing:last-child:not(:first-child) {
  float: left;
}

.alert_title {
  background: white;
  padding: 1.25rem;
  margin-bottom: 0.375rem;
  p {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
  }
  .alert_result {
    font-size: 12px;
    text-align: right;
    // float: right;
  }
}

.alert_new-alert {
  h3,
  .form-group label,
  input,
  button {
    display: inline-block;
  }
}

.alert_name {
  text-transform: capitalize;
  display: inline-block;
}

.alerts_existing .message-arrow {
  display: inline-block;
  cursor: pointer;
}