
// home/new_post
.new_post {
  .terms-conditions a {
    font-size: 0.75rem;
  }
}

// home/alerts
.alert_title {
  background: white;
  p {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
  }
  .alert_results {
    font-size: 12px;
    text-align: right;
  }
}

.alert_new-alert {
  h3,
  .form-group label,
  input,
  button {
    display: inline-block;
  }
}
