.start-group {
  padding: 1rem;

  .dynamic-form {
    // don't show items until triggered
    display: none;
  }

  .select2 {
    // match select2 fields to other input fields
    @extend [type='text'];
  }

  textarea {
    height: 10rem;
  }

  .content {
    background-color: white;
    padding: 1rem;
  }
}
