.groups .post-header-subtitle {
  font-family: "Roboto Slab", serif;
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  text-align: center;
  color: #bab6af;
}

.groups .post-header-title {
  margin: 36px 0 5px;
}

.groups .post-header-title a {
  display: inline-block;
}

.groups .horizontal_tabs {
  margin-top: 2rem;
}

.groups .in-body-ad-row {
  margin-top: 1.25rem;
}

.groups .item-list-tags {
  padding-top: 0.438em;
  padding-bottom: 0;
}
