{% extends './layout/layout.html' %}

{% block header %}
{% include './partials/header.html'  %}
{% endblock %}

{#NOTE: setting links to pass to the secondary nav partial.#}
{% set  links = [
{ id : "desktop-dash", href : "/desktop-dash", text : "Dashboard" },
{ id : "my-replies", href : "/home/my-replies", text : "My Replies" },
{ id : "my-posts", href : "/home/my-posts", text : "My Posts" },
{ id : "my-friends", href : "/home/my-friends", text : "My Friends" },
{ id : "my-groups", href : "/home/my-groups", text : "My Groups" }
]%}

{% block content %}

<div class="horizontal_tabs">
  <!--  tabs  -->
  <ul class="tabs" id="h-example-tabs" data-tab data-update-history="true" data-options="deep_linking:true">
    {% include './partials/secondary_tabs.html' with { links: links } %}
  </ul>

  <!--  tabs-content  -->
  <div class="tabs-content" data-tabs-content="h-example-tabs">
    <div class="tabs-panel is-active" id="dashboard">
      {% include './partials/item_list.html'%}
    </div>
    <div class="tabs-panel" id="myreplies">
      {% for messageSet in messageSets %}
      {% include './partials/message_reply_list.html' with messageSet %}
      {% endfor %}
    </div>
    <div class="tabs-panel" id="myposts">
    </div>
    <div class="tabs-panel" id="myfriends"></div>
    <div class="tabs-panel" id="mygroups">
    </div>
  </div>
  {% include './partials/in_body_banner_row.html'%}
</div>


{% endblock %}