{% extends './layout/layout.html' %}

{% block content %}
{% for error in errors %}
    {% if error.message %}
    <p class="callout alert">{{ error.message }}</p>
    {% endif %}
{% endfor %}
<div class="find-groups">
  <div class="row">
    <h2 class="post-header-title text-center">{{title}}</h2>
    <div class="find-groups-search">
      {% include './towns_search.html' with {label:'Find Towns'} %}
      {% include './partials/find_groups_dropdown.html' %}
      Can't find a town near you? Maybe you'd like to <a href="{{ path.start_a_group }}">start one</a>.

    </div>
  </div>
  <div class="row">
    <div class="item-list-header small-centered large-12 column">
      <div class="item-list-header-controls find-groups-header-controls">
          <label class="text-lighten item-list-header-controls-label">View: </label>
          <ul class="item-list-header-controls-list tabs" id="find-groups_detail" data-tabs>
              <li class="item-list-header-filter-icon item-list-grid-view tabs-title">
                <a href="#find-groups_list">{% include './icons/list.html' %} <span>List</span></a>
              </li>
              <li class="item-list-header-filter-icon item-list-list-view tabs-title is-active">
                  <a href="#find-groups_map" @click="$root.$emit('renderCluster')">{% include './icons/map_compass.html' %} <span>Map</span></a>
              </li>
          </ul>
      </div>
    </div>
  </div>

  <div class="row tabs-content small-centered large-12 column" data-tabs-content="find-groups_detail">
    <div id="find-groups_map" class="table-example row tabs-panel is-active">
      {# {% include "./partials/geomap.html" with geomap %} #}
      <div class="flex-video" :onload="$emit('loadTowns', {{data|json}})">
         <fc-map style="height: auto; width: 100%; position: static; left:0; top:0;" ref="map" :zoom="7" :center="map.center">
             <fc-map-cluster ref="mapcluster" v-cloak>
                 <div v-for="(town, index) in townResults()" :key="town.id">
                     <fc-map-infowindow :options="map.infoWindow.options" :position="geoFormat(town.latitude, town.longitude)" :opened="false" :id="`marker-${town.id}`" :ref="`marker-${town.id}`" >
                         {%raw%}
                            <h3>
								<a :href="`/town/${town.id}`">{{town.name}}</a>
							</h3>
						 	<form v-if="!town.membership" method="post" :action="`/town/${town.id}/join`">
                            	<button class="btn btn-default" v-if="!town.membership"><i class="icon fa fa-plus"></i> Join Town</button>
						 	</form>
                            <span v-else-if="town.membership.isPending == 1" >Join Pending</span>
                            <span v-else>Already a Member</span>
                         {%endraw%}
                     </fc-map-infowindow>
                     <fc-map-marker :position="geoFormat(town.latitude, town.longitude)" :clickable="true" @click="$emit(`marker-${town.id}`, town);" :animation="4" ></fc-map-marker>
                 </div>
             </fc-map-cluster>
             
         </fc-map> 
      </div>
    </div>
    <div id="find-groups_list" class="table-example row tabs-panel">
      <table>
        <thead>
        <tr>
          <th>Town Name</th>
          <th>State</th>
          <th>Distance</th>
        </tr>
        </thead>
        <tbody>
          {%raw%}
          <tr v-for="(town, index) in townResults()" :key="town.id" v-cloak>
            <td>
              <h4>
                <a :href="`/town/${town.id}`">{{town.name}}</a>
              </h4>
                <form v-if="!town.membership" method="post" :action="`/town/${town.id}/join`" style="display: inline;">
					<button class="btn btn-default" v-if="!town.membership"><i class="icon fa fa-plus"></i> Join Town</button>
				</form>
                <span v-else-if="town.membership.isPending === 1" >Join Pending</span>
                <span v-else>Already a Member</span>
                |
                <a @click="$emit(`marker-${town.id}`, town)">View Map</a>
            </td>
            <td v-if="town.region">
                <p>{{town.region.region_name}}</p>
            </td>
            <!--NOTE: group.name and group.distance is not available in the current scope.-->
            <td>miles</td>
          </tr>
          {%endraw%}
        </tbody>
      </table>
    </div>
  </div>
  <div>
    {% include './partials/in_body_banner_row.html'%}
  </div>
</div>
{% endblock %}
