{% extends './layout/layout.html' %}

{% block content %}
{% for error in errors %}
    {% if error.message %}
    <p class="callout alert">{{ error.message }}</p>
    {% endif %}
{% endfor %}
<div class="find-groups">
  <div class="row">
    <h2 class="post-header-title text-center">{{title}}</h2>
    <div class="find-groups-search">
      {% include './in_page_search.html' with {label:'Find Towns'} %}
      {% include './partials/find_groups_dropdown.html' %}
      Can't find a town near you? Maybe you'd like to <a href="{{ path.start_a_group }}">start one</a>.

    </div>
  </div>
  <div class="row">
    <div class="item-list-header small-centered large-12 column">
      <div class="item-list-header-controls find-groups-header-controls">
          <label class="text-lighten item-list-header-controls-label">View: </label>
          <ul class="item-list-header-controls-list tabs" id="find-groups_detail" data-tabs>
              <li class="item-list-header-filter-icon item-list-grid-view tabs-title">
                <a href="#find-groups_list">{% include './icons/list.html' %} <span>List</span></a>
              </li>
              <li class="item-list-header-filter-icon item-list-list-view tabs-title is-active">
                  <a href="#find-groups_map">{% include './icons/map_compass.html' %} <span>Map</span></a>
              </li>
          </ul>
      </div>
    </div>
  </div>

  <div class="row tabs-content small-centered large-12 column" data-tabs-content="find-groups_detail">
    <div id="find-groups_map" class="table-example row tabs-panel is-active">
      {# {% include "./partials/geomap.html" with geomap %} #}
      <div class="flex-video">
         <fc-map style="height: auto; width: 100%; position: static; left:0; top:0;" ref="map" :zoom="7" :center="map.center" >
             <fc-map-cluster ref="mapcluster">
                 <div v-for="(town, index) in {{data.groups|json}}">
                     <fc-map-infowindow :options="map.infoWindow.options" :position="geoFormat(town.latitude, town.longitude)" :id="`marker-${town.id}`" :ref="`marker-${town.id}`" >
                         {%raw%}
                             <h3 v-html="town.name"></h3>
                         {%endraw%}
                     </fc-map-infowindow>
                     <fc-map-marker :position="geoFormat(town.latitude, town.longitude)" :clickable="true" @click="$emit(`marker-${town.id}`);" :animation="4" ></fc-map-marker>
                 </div>
             </fc-map-cluster>
             
         </fc-map> 
      </div>
    </div>

    <div id="find-groups_list" class="table-example row tabs-panel">
      <table>
        <thead>
        <tr>
          <th>Town Name</th>
          <th>State</th>
          <th>Distance</th>
        </tr>
        </thead>
        <tbody>
        {#{% for group in groupList %}#}
          <tr v-for="(town, index) in {{data.groups|json}}">
            <td><h4 v-html="town.name"></h4></td>
            {#NOTE: group.name and group.distance is not available in the current scope.#}
            <td>{{group.name}}</td>
            <td>{{group.distance}} miles</td>
          </tr>
        {#{% endfor %}#}
        </tbody>
      </table>
    </div>
  </div>
  <div>
    {% include './partials/in_body_banner_row.html'%}
  </div>
</div>
{% endblock %}
