{% extends './layout/layout.html' %}

{% block header %}
{% include './partials/header.html'  %}
{% endblock %}

{% block content %}

{% include './partials/page_two_column.html' %}
{% include './partials/font_blocks.html' %}
{% include './partials/button_palette.html'%}
{% include './partials/color_palette.html'%}
{% include './partials/table.html'%}
{% include './partials/friend_cards.html' %}
{% include './partials/post_header.html' %}
{% include './partials/horizontal_tabs.html' %}
{% include './partials/item_list.html'%}
{% include './partials/in_page_ribbon.html'%}

{% endblock %}
