{% extends './layout/layout.html' %}

{% block header %}
  {% include './partials/header.html' with {loggedIn:false} %}
{% endblock %}

{% block content %}
  {% if msg %}
    <p class="error-message">{{ msg }}</p>
  {% endif %}
  <form method="POST">
    <input type="hidden" name="crumb" value="{{crumb}}"/>
    <input type="text" name="user" placeholder="username or email address">
    <input type="password" name="password" placeholder="password">
    <input type="submit">

  </form>

{% endblock %}