{% extends './layout/layout.html' %}

{% block header %}
    {% include './partials/header.html' %}
{% endblock %}

{% block content %}
    {% for error in errors %}
        <p class="callout alert">{{ error.message }}</p>
    {% endfor %}
    <div class="row">
        <div class="row">
            <h2 class="post-header-title text-center columns large-12">
                {{ title }}
            </h2>
        </div>
        <div class="row">
            <form method="POST" action="/login/password-reset/{{ data.token }}">
                <label for="new-password">New Password</label>
                <input id="new-password" type="password" name="password" maxlength="32" />
                <input type="checkbox" id="password-visibility"
                    onchange="$('#new-password').attr('type', $('#new-password').attr('type') === 'password' ? 'text' : 'password')"
                />
                <label for="password-visibility">Toggle Password visibility</label>
                <input type="hidden" name="token" value="{{ data.token }}" />
                <div style="margin: 2rem 0; text-align: center;">
                    <input type="submit" class="btn btn-default small-5" value="Reset your password"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
