{% extends './layout/layout.html' %}

{% block content %}

{% if !data.page.published %}
  <p class="callout warning">UNPUBLISHED</p>
{% endif %}

{% if data.preview %}
    <p class="callout warning">Preview mode: these changes are unsaved</p>
{% endif %}
{% for error in errors %}
    <p class="callout alert">{{ error.message }}</p>
{% endfor %}

  <div id="static-wrapper">
    <h2>{{ data.page.title }}</h2>
    <p>{{ data.page.content|sanitizeHtml({ moderator: true })|safe }}</p>
  </div>


{% endblock %}
