{% extends './layout/layout.html' %}

{% block content %}

<div class="row">
  <div class="profile">
    <img class="avatar" src="{{ data.profile.image }}" />
    <h2>{{ data.profile.name }}</h2>
    <h3 class="section-title-small">{{ data.profile.username }}</h3>
    <p>{{ data.profile.info.about }}</p>
    <h3 class="section-title-small thumbsup">
      {% include './icons/like.html' %}
      {{ data.profile.info.reputation|default(0) }} thumbs up
      {% if !data.profile.verified %}
        |
        {% include "./partials/user_verified.html" with { text: "Verified", fontSize: "16px" } %}
      {% endif %}
    </h3>
  </div>
</div>

<div class="row">
  <hr class="row section-divider"/>
</div>
{% if session.id && session.id !== data.profile.id %}
<div class="row"> <!-- TODO:
        - style these buttons, make em change colors and shit when they change state,
        - make buttons closer together  in row.
        - when a button isn't visible, collapse the empty space
        - make submission be via AJAX, etc
        - message button should go away if user is blocked
        - entire page should not show if user is blocking me
        - etc.

        -->
  <div class="profile-actions container">
    <div class="columns medium-8 medium-centered">
      {% set friendStatus = data.profile.friendStatus %}
      {% if friendStatus !== 'BLOCKED' &&
        friendStatus !== 'BLOCKING' &&
        friendStatus !== 'REJECTED'
      %}
        {% if friendStatus === 'NONE' || friendStatus === 'REJECTING' %}
          <div class="columns medium-3">
            {% include 'partials/friendship_action_button.html' with {
              username: data.profile.username,
              action: 'friend',
              icon: 'user-plus',
              label: 'Friend'
            } only %}
          </div>
        {% endif %}
        {% if friendStatus === 'FRIENDS' %}
          <div class="columns medium-3">
            {% include 'partials/friendship_action_button.html' with {
              username: data.profile.username,
              action: 'unfriend',
              icon: 'user-times',
              label: 'Unfriend',
              confirm: true
            } only %}
          </div>
        {% endif %}
        {% if friendStatus === 'PENDING' %}
          <div class="columns medium-2">
            {% include 'partials/friendship_action_button.html' with {
              username: data.profile.username,
              action: 'accept',
              icon: 'user-plus',
              label: 'Accept'
            } only %}
          </div>
          <div class="columns medium-2">
            {% include 'partials/friendship_action_button.html' with {
              username: data.profile.username,
              action: 'reject',
              icon: 'user-times',
              label: 'Reject'
            } only %}
          </div>
        {% endif %}
        {% if friendStatus === 'WAITING' %}
          <div class="columns medium-3">
            {% include 'partials/friendship_action_button.html' with {
              icon: 'user',
              label: 'Pending request'
            } only %}
          </div>
        {% endif %}
      {% endif %}
      <div class="columns medium-3">
        <button class="btn btn-action" onclick="javascript:void(window.location.href='{{path.home_myreplies}}')" style="margin: 2px"><i class="icon fa fa-envelope"></i> Message</button>
      </div>
      <div class="columns medium-3">
        <fc-modal custom-trigger='<button class="btn btn-action" style="margin: 2px"><i class="icon fa fa-flag"></i>Report</button>'>
            <form method="post"> {# TODO: Submit form to report user once endpoint is available. #}
              <p>Contact a moderator to report this user {{data.profile.username}}</p>
              <label for="subject">Subject</label>
              <input name="subject" type="text">
              <label for="message">Message</label>
              <textarea name="message"></textarea>
              <button class="btn btn-default" type="submit">Submit</button>
              <input type="hidden" name="home_group" value="{{data.profile.home_group}}"> {# for lack of better option, we report people to their home group's moderators .#}
              <input type="hidden" name="user" value="{{data.profile.username}}">
            </form>
        </fc-modal>
      </div>
      {% if friendStatus !== 'BLOCKING' %}
        {% include 'partials/friendship_action_button.html' with {
          username: data.profile.username,
          action: 'block',
          icon: 'ban',
          label: 'Block',
          confirm: true
        } only %}
      {% endif %}

      {% if friendStatus === 'BLOCKING' %}
        {% include 'partials/friendship_action_button.html' with {
          username: data.profile.username,
          action: 'unblock',
          icon: 'user',
          label: 'Unblock'
        } only %}
      {% endif %}
    </div>
  </div>

  <div class="row">
    <hr class="row section-divider"/>
  </div>

</div>
{% endif %}

{# debugging output :  <pre>{{ data.profile|json}}</pre> #}


<div class="row collapse user-details">
  <div class="medium-3 columns">
    <ul class="tabs vertical page-tabs-nav" id="profile-vert-tabs" data-tabs="x1qehm-tabs" role="tablist">
      <li class="tabs-title is-active" role="presentation">
        <a href="#panel1v" aria-selected="true" role="tab" aria-controls="panel1v" id="panel1v-label">All Posts</a>
      </li>
      <li class="tabs-title" role="presentation">
        <a href="#panel2v" role="tab" aria-controls="panel2v" aria-selected="false" id="panel2v-label">Towns</a>
      </li>
    </ul>
  </div>
  <div class="medium-8 columns last">
    <div class="tabs-content column  vertical page-tabs-panels" data-tabs-content="profile-vert-tabs">
      <div class="tabs-panel page-tabs-panel is-active" id="panel1v" role="tabpanel" aria-hidden="false" aria-labelledby="panel1v-label">
        <div class="item-list-items">
            <div class="item-grid-view container">
              <div class="grid-sizer"></div>
              <div class="gutter-sizer"></div>
              {% for post in data.profile.posts %}
              {% include './partials/post_grid_item.html' %}
              {% endfor %}
            </div>
        </div>
      </div>
      <div class="tabs-panel page-tabs-panel" id="panel2v" role="tabpanel" aria-hidden="true" aria-labelledby="panel2v-label">
        <div class="row">
          <div class="groups-table small-centered large-8 column">
            <table>
              <thead>
              <tr>
                <th>Towns</th>
                <th>State</th>
              </tr>
              </thead>
              <tbody>
                {% for group in data.profile.groups %}
                <tr>
                  <td><h4>{{group.group.name}}</h4></td>  <!-- TODO: take out extra "group" from data structure? -->
                  <td>{{group.group.region.name}}</td>
                  <!-- TODO: <td>{{group.group.country.name}}</td>  ?? -->
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include './partials/left_column_banner_row.html'%}
</div>
<div>




{% endblock %}
