.alert_result {
  display: none;
}

.alert_result-item:last-child:not(:first-child) {
  float: left;
}

#alert_result-item .post-grid-item {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.alert_result-divider {
  //TODO: find a better way to separate these sections?
  opacity: 0;
}