//override foundation defaults
.edit-profile {
  text-align: center;
  
  .input-group-button input {
    padding: .85rem;
  }
  .btn-default {
    border: none;
  }
}

.btn-fb {
  @extend .btn-wanted;
  border: none;
}