.friends-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  &.row {
    margin-left: -.2rem;
    margin-right: -.2rem;
  }

}

.friend-card {
  padding: .2rem;
}

.friend-card-inner {
  background: white;
  display: flex;
  padding: 1rem;
}

.friend-card-avatar {
  height: 75px;
  width: 75px;
  img {
    border-radius: 75px;
  }
}

.friend-card-name {
  flex: 1;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h4, h5 {
    font-weight: bold;
  }
  h4 {
    color: $black;
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  h5 {
    color: $dark-gray;
    font-size: .875rem;
    text-transform: uppercase;
  }
}

