.header-signup-button {
    @include heading-text();
    margin-top: -4px;
    padding: 0.875rem 1.2rem;
}

.header-user-icon {
    svg {
        position: relative;
        left: -5px;
        top: 5px;
        width: 1.25rem;
    }

    margin-left: 40px;
}