.header-banner-ad {
  height: 50px;
  width: 100%;
  max-width: 728px;
  margin: 0 auto;
  margin-bottom: 20px;

  background-color: $medium-gray;
  color: $white;
  font-family: $header-font-family;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.2px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;

  @include breakpoint(header) {
    height: 90px;
    line-height: 90px;
    margin: 20px auto;
  }
}