.in-page-ribbon {
  min-height: 130px;
  background-color: $dark-green;
  display: flex;
  align-items: center;
  color: $white;
}

.in-page-ribbon-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.in-page-ribbon-left {
  padding-right: .5rem;
  @media #{$medium-up} {
    padding-right: 2rem;
  }
}

.in-page-ribbon-right {
  padding-left: .5rem;
  @media #{$medium-up} {
    padding-left: 2rem;
  }
}