/**
 * A variant of in_body_ad that shifts to display on the left, under a tab menu,
 * on wider pages.  Moves to the bottom on tablets/smaller screen width, then
 * collapses to vertical on mobile.
 * Parent container needs display: relative to work properly.
**/

.left-column-ad-row {
  float: right;
  width: 100%;
  text-align: center;

  @media #{$large-up} {
    width: auto;
    float: none;
    position:absolute;
    top: 6em;
    margin-left: 0.2rem;
    text-align: left;
  }
}

.left-column-ad-row .left-column-ad-container {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    @media #{$large-up} {
      margin: 0;
      display: block;
    }
}

.left-column-ad-row .in-body-banner-ad {
  display: inline-block;
  @media #{$large-up} {
    display: block;
  }
}
