.message-reply-list-container {
  h3 {
    text-align: center;
  }
}

#chatbox {
    width: 55rem;
}

.message-reply-list {
  @include listReset();
}

.messages-unread-admin-badge {
  color: $black;
  margin-left: .25rem;
}

.message-list-item-header {
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid $dark-gray;
  & > * {
    display: inline-block;
    vertical-align: middle;
  }
  h4 {
    max-width: 75%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 0;
  }
  .message-list-item-post-icon {
    margin-left: 1rem;
  }
}

.message-list-item-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  transition: all 500ms ease;
  transform: scale3d(.95, .95, .95);
  will-change: max-height, height, opacity, transform;
  margin-top: rem-calc(-6px);
  margin-bottom: rem-calc(6px);

  @media #{$medium-up} {
    flex-direction: row;
  }
}

.message-list-item-details-sidebar {
  flex: 2;
  border-bottom: 1px solid $dark-gray;

  @media #{$medium-up} {
    border-right: 1px solid $dark-gray;
  }
}

.message-list-item-details-participants {
  @include listReset();
  width: 100%;

  border-right: 1px solid $dark-gray;
  border-left: 1px solid $dark-gray;
  @media #{$medium-up} {
    border-right: none;
    border-left: none;
  }
}

.message-list-item-details-participant {
  padding: 1.003rem;
  font-size: .675rem;
  font-family: $header-font-family;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $dark-gray;
  cursor: pointer;

  .unread-amount {
    color: $dark-gray;
    flex: 1;
    text-align: right;
  }

  &.active {
      color: white;
      background-color: map-get($freecycle-palette,primary);
  }
}

.message-list-item-details-chat {
  flex: 8;
}

.message-list-item-details-chat-window {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-right: 1px solid $dark-gray;
  border-left: 1px solid $dark-gray;
  @media #{$medium-up} {
    border-right: none;
    border-left: none;
  }
}

.chat-message-avatar {
  width: 1rem;
  height: 1rem;
  border-radius: .5rem;
  display: inline-block;
  margin-right: .5rem;
  background-size: cover;
}

.message-list-item-details-chat-message {
  align-self: flex-start;

  .chat-message-from {
    font-family: $header-font-family;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-size: .675rem;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  .chat-message-message {
    background: $black;
    color: $white;
    margin-bottom: 0;
    p { // Particularly for system messages, which contain markup
      color: $white;
      margin-bottom: 0;
    }
    font-size: 1rem;
    padding: .875rem;
    font-weight: bold;
  }
  .chat-message-time {
    font-size: .875rem;
    color: $dark-gray;
  }
  &.message-from-self {
    align-self: flex-end;

    .chat-message-message {
      background: $white;
      color: $black;
    }
  }
}

.message-list-item-details-chat-form {
  padding: 1rem;
  border: 1px solid $dark-gray;
  @media #{$medium-up} {
    border-right: none;
    border-left: none;
  }

  form {
    padding: 1rem;
    background: white;
    display: flex;

    justify-content: space-around;
    flex-direction: column;

    textarea {
      border: none;
      box-shadow: none;
      margin: 0 auto 1rem;
    }

    @media #{$medium-up} {
      flex-direction: row;
      align-items: center;

      textarea {
        margin: 0 auto;
      }
    }
  }
}

.message-reply-list-item {
  background: $white;
  min-height: rem-calc(126px);
  margin-bottom: rem-calc(6px);
  display: flex;
  align-items: center;
  padding: rem-calc(20px);
  cursor: pointer;
  flex-direction: column;
  user-select: none;
  @media #{$medium-up} {
    flex-direction: row;
  }

  .message-list-item-left, .message-list-item-right {
    display: flex;
    align-items: center;

  }
  .message-list-item-left {
    flex: 1;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    @media #{$medium-up} {
      flex: 7;
      flex-direction: row;
    }
  }
  .message-list-item-right {
    flex: 1;
    width: 100%;
    justify-content: flex-end;
    @media #{$medium-up} {
      flex: 3;
      flex-direction: row;
    }
  }
}

.message-title {
  h4 {
    display: inline-block;
  }
  width: 100%;
  @media #{$medium-up} {
    width: auto;
    margin-right: 1rem;
  }
}

.message-image {
  max-height: 75px;
  margin-right: 1rem;
  &.ChatMessage {
    border-radius: 100%;
  }
}

.message-type {
  width: 100%;
  @media #{$medium-up} {
    width: auto;
    margin-right: 1rem;
  }
}

.message-time {
  width: 100%;
  @media #{$medium-up} {
    width: auto;
    margin-right: 1rem;
  }
}

.message-notification {
  text-align: right;
  margin-right: 2rem;
  color: palette(primary);
  font-family: $header-font-family;
  font-weight: bold;
  font-size: rem-calc(12px);
  text-transform: uppercase;
}

.message-arrow {
  .icon-message-arrow {
    fill: palette(primary);
    display: inline-block;
    transition: transform 250ms ease;
  }
  text-align: right;
}

.post-list-item-category-icon, .post-list-item-header-icon {
  display: flex;
  align-items: center;
  @include iconWithLeftText();
}
