.tag-container {
  display: flex;
  flex-direction: column;

  @media #{$medium-up} {
    flex-direction: row;
  }
}

.tags-icon {
  @include iconWithLeftText();
  display: flex;
  span {
    padding-left: .5rem;
  }
}

.tags-prefix-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;

  @media #{$medium-up} {
    flex: 1;
  }
}

.tags-input-container {
  flex: 8;

  @media #{$medium-up} {
    flex: 9;
  }
}

.tags-suffix-container {
  border-left: 2px solid $body-background;
  padding-left: 1rem;
  display: none;
  align-items: center;

  @media #{$medium-up} {
    display: flex;
  }
}

.add-tag-icon-button {
  display: flex;
  align-items: center;
  font-size: rem-calc(14px);
  svg {
    fill: $dark-gray;
    margin-right: .675rem;
  }
}

/*Select2 style*/
.select2-selection {
  border: none !important;
}

.select2-selection__rendered {
  display: flex !important;
  flex-wrap: wrap;
  align-items: center;
}

.select2-search.select2-search--inline {
  display: flex !important;
  align-items: center;
  input {
    margin: 0;
  }
}

.select2-selection__choice {
  background: none !important;
  border: none !important;
  color: palette(primary);
  display: flex;
  align-items: center;
  font-size: rem-calc(14px);
}

.select2-selection__choice__remove {
  font-size: 1.5rem;
  padding-right: .375rem;
}

.select2-dropdown {
  background: $white;
  border-top: 1px solid palette(primary) !important;
  border-color: palette(primary) !important;
  color: palette(primary);
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: palette(primary);
  color: $white;
}