{
  "root": true,
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "commonjs": true
  },
  "globals": {
    "$": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "no-unused-vars": "warn"
  }
}
