{% set classes = "medium-6 large-3" %}

<div class="large-centered large-12 xlarge-centered xlarge-9 columns button-palette">
    <div class="row">
        {%
            include './button_palette_group.html'
            with {
                classNames: classes + " large-offset-3",
                title: "standard button",
                activeClass: "btn-default"
            }
        %}
        {%
            include './button_palette_group.html'
            with {
                classNames: classes + " end",
                title: "action button",
                activeClass: "btn-action"
            }
        %}
    </div>
    <div class="row">
        {%
            include './button_palette_group.html'
            with {
                classNames: classes,
                title: "offer button",
                activeClass: "btn-offer"
            }
        %}
        {%
            include './button_palette_group.html'
            with {
                classNames: classes,
                title: "wanted button",
                activeClass: "btn-wanted"
            }
        %}
        {%
            include './button_palette_group.html'
            with {
                classNames: classes,
                title: "lend button",
                activeClass: "btn-lend"
            }
        %}
        {%
            include './button_palette_group.html'
            with {
                classNames: classes,
                title: "borrow button",
                activeClass: "btn-borrow"
            }
        %}
    </div>
</div>