{# Note: This file is provided by the fc3_common_assets  package #}
<ul class="item-list-header-filter-list ">
    <li class="item-list-header-filter-icon">
        <fc-icon name="my" style="cursor: default; display: inline; position: relative; width: 2.5em; top:.35em"></fc-icon>
    </li>
    <li class="item-list-header-filter-icon item-list-city-circle stateful {% if data.criteria.friends %}inactive{% endif %}" :title="t('Show only posts in your town groups')" data-tooltip >
        {% if data.criteria.friends %}<a href="{{ path.home_dashboard }}">{% endif %}<span style="position: relative;display: flex; align-items: center; width: 6rem; right: 1em; top: 0;
justify-content: space-evenly;" class="has-tip">
            <fc-icon name="towns" style="display: inline; position: relative; width: 2em;"></fc-icon>{{ t('Town') }}</span>{% if data.criteria.friends %}</a>{% endif %}
    </li>
    <li class="item-list-header-filter-icon item-list-friend-circle {% if !data.criteria.friends %}inactive{% endif %}">
        {% if !data.criteria.friends %}<a href="{{ path.home_dashboard }}friends">{% endif %}<span style="position: relative; margin-left:1em; display: flex; width: 100%; top: 0em;" class="has-tip" :title="t('Show only posts from your Friends Circle')" data-tooltip>
                <fc-icon name="friend_circle" class="icon-friend-circle" style="display: inline; position: absolute; left: -1.5em; top: -1px; width: 2em; height: 100%;"></fc-icon>{{ t('Friends Circle') }}</span>{% if !data.criteria.friends %}</a>{% endif %}
    </li>
</ul>
