<div class="color-palette-group">
    <h4 class="color-palette-group-title">{{title}}</h4>
    <div class="color-palette-group-panels">
        <div class="color-palette-group-panel {{colorClasses[0]}}">
            <span class="color-palette-group-panel-color"></span>
        </div>
        <div class="color-palette-group-panel {{colorClasses[1]}}">
            <span class="color-palette-group-panel-color"></span>
        </div>
        <div class="color-palette-group-panel {{colorClasses[2]}}">
            <span class="color-palette-group-panel-color"></span>
        </div>
        <div class="color-palette-group-panel {{colorClasses[3]}}">
            <span class="color-palette-group-panel-color"></span>
        </div>
    </div>
</div>
