<!-- <div class="row"> -->
  <div class="medium-12 columns form-group default-location">
    <label for="default-loc">General Location
      <div class="input-group edit-profile_group">
        <input type="text" class="input-group-field" name="default-loc" style="height: auto;" value="{{userData.defaultLocation}}" placeholder="e.g. Main Street and 1st Ave, or a Neighborhood Name" />
        <!-- <div class="input-group-button">
          <input type="button" class="btn btn-default" name="phone" value="Locate" />
        </div>  -->
      </div>
    </label>
    <button class="default-location-locate">
      <i class="fa fa-map-marker" aria-hidden="true"></i>
    </button>
  </div>  
<!-- </div> -->