{# Note: This file is provided by the fc3_common_assets package #}

<!--
{{ t('Help') }}
-->


{#  extraAttrs is if we want an onClick or an id or whatever in the link tag #}
{% set footerMenuItems =  [
        { name: t('About Us'), path: '/pages/about' },
        { name: t('Press Room'), path: '/pages/pressroom' },
        { name: t('News'), path: 'https://newswire.freecycle.org' },
        { name: t('Find A Town'), path: '/find-towns' },
        { name: t('Privacy'), path: '/pages/privacy' },
        { name: t('Terms of Service'), path: '/pages/tos' },
        { name: t('Guidelines'), path: '/pages/guidelines' },
        { name: t('Donate'), path: '/pages/donate' },
        { name: t('Sponsor'), path: '/pages/sponsor' },
        { name: t('Volunteer'), path: '/pages/volunteer' },
        { name: t('Help'), path: '#', extraAttrs: 'onclick="openBeacon();return false;"' },
        { name: t('Knowledge Base'), path: 'https://freecycle.helpscoutdocs.com/collection/7-freecycle-help' },
        { name: t('Contact'), path: '/pages/contact' },
    ]
%}

<div class="row" style="max-width: 100%;" >
    <ul>
        {% for val in footerMenuItems %}
            <li class="columns small-6 large-3 footer-menu-item left" >
                <a href="{{ val.path }}" {{ val.extraAttrs|raw }}>{{val.name}}</a>
            </li>
        {% endfor %}
    </ul>
</div>