{# Note: This file is provided by the fc3_common_assets  package #}

<footer>
    {% if featuredIn %}
    <div class="row">
        <h3 style="text-align:center;color:#ffffff;" >{{ t('As featured in') }}:</h3>
        <fc-featuredin></fc-featuredin>
    </div>
    {% endif %}
    <div class="footer-inner column row">
        <div class="row footer-row">
            <div class="footer-image-row small-12 columns">
                <div class="footer-image-container">
                    <a href="{{ path.pages_home }}"><img src="/images/logo.png"></a>
                </div>
                <div class="footer-social-list-container">
                    <span class="social-list-label">{{ t('Follow Freecycle') }}</span>
                    {% include 'social_list.html' %}
                </div>
            </div>
        </div>
        <div class="row footer-row">
            {% include 'footer_menu.html' with footerMenuItems %}
        </div>
        <div class="row footer-row">
            <div class="small-12 columns">
                <p class="footer-lowlight">Copyright ©{{ date|date('Y') }} The Freecycle Network. {{ t('All rights reserved. Freecycle and the Freecycle logo are trademarks of The Freecycle Network in various countries.') }}</p>
            </div>
        </div>
    </div>
</footer>
