<div class="row in-page-search"> <!-- Does this class give any necessary styling? -->
  <form class="column large-4 large-offset-4" >
    <!-- TODO Move placeholder into label? -->
    <select class="select-friends">
        <option value="" disabled selected hidden>{{ label }}</option>
        {% for option in options %}
        <!-- Should value be the username? Guessing value is accessible on event object; we want to get at username to set location
          of browser i.e. navigate to user's page
        -->
          <option value="{{ option.username }}">{{ option.username }}{% if option.firstName  %} — {{ option.firstName }} {{ option.lastName }}{% endif %} </option>
        {% endfor %}
    </select>
  </form>
</div>
