<div class="row group-tabs-container">
	{% include './group_hamburger_menu.html' %}

	<ul class="tabs group-menu-links" id="g-example-tabs" data-tab data-options="deep_linking:true">
		<li class="tabs-title"><a id="group_posts" href="{{ path.groups_main }}{{ group.group_id }}">Posts</a></li>
		<li class="tabs-title"><a id="group_notices" href="{{ path.groups_notices|replace('//', '/' + group.group_id + '/') }}">Notices</a></li>
		<li class="tabs-title"><a id="group_contact" href="{{ path.groups_contact }}{{ group.group_id }}">Contact Moderators</a></li>
		<li class="tabs-title"><a id="group_info" href="{{ path.group_info }}{{ group.group_id }}">Town Info</a></li>
	</ul>
</div>

{# NOTE see assets/js/modules/group_tabs.js for tab state logic #}
