{# Note: This file is provided by the fc3_common_assets  package #}
{% set omitOnPages = [ 'home_post_new', 'home_post_edit' ] %}   {# TODO: any other pages shouldnt have search on top? #}
<form class="post-search" method="post" action="/search-posts" data-running="false" onsubmit="$('form.post-search').attr('data-running',true); return true;">
    <div class="header-search" {% if omitOnPages|contains(route.id)  %}style="visibility: hidden;"{% else %}{% endif %}>
        <div class="search-input {% if session %}logged-in{% endif %}" >
            <input class="search input-group-field" name="searchText" type="search" value="{{ search }}" :placeholder="t('Search for items...')" required />
        </div>
        <div class="form-overlay" style="top:3em;">
            <span class="content">
              <fc-spinner size="big" :message="t('Searching...')" ></fc-spinner>
            </span>
        </div>

        {# logged-out users won't see location interface #}
    {% if session %}
        <div class="search-location">
    {% else %}
        <div class="is-hidden">
    {% endif %}
            <span class="search-map-icon">
                <fc-icon name="map_pin" class="search-map-icon"></fc-icon>
            </span>

            <div class="item-list-header-filter location">
                <select class="post-search-dropdown" name="town">
                    <option value="all">{{ t('All My Towns') }}</option>
                    {% raw %}
                    <option v-for="town in $root.globalData.towns" :key="town.id" :value="town.id">{{ town.name|truncate(30) }}</option>
                    {% endraw %}
                </select>
            </div>
        </div>
        <button type="submit" class="search-icon">
                {% include '../icons/search.html' %}
        </button>
    </div>
</form>
