{# Note: This file is provided by the fc3_common_assets  package #}
<div class="header-logo small-centered">
{# my logo should only be for "home" pages #}{% set home = route.id | replace('^home_', '') %}
{% if home === route.id %}
    <a href="{{ path.home_dashboard }}"><fc-icon name='logo'></fc-icon></a>
{% else %}
    <a href="{{ path.home_dashboard }}"><fc-icon name="logo_my" style="height: 86px;"></fc-icon></a>
{% endif %}
</div>

<div class="header-stretch row">
    {% include './header_search.html' %}
    {% include './header_user_buttons.html' %}
</div>

<div class="header-links">

    {% if connections.groups || connections.friends %}
        <a href="{{ path.home_post_new }}"><button class="btn-default header-button">Make A Post</button></a>
    {% endif %}
    <a href="{{ path.pages_logout }}"><button class="btn-default header-button">logout</button></a>


</div>
