{# Note: This file is provided by the fc3_common_assets  package #}
<div class="header-logo small-centered ">
    <a href="/">{% include '../icons/logo.html' %}</a>
    {% include './hamburger_menu.html' %}
</div>

<div class="header-stretch row">
    <div class="columns small-12">
        {% include './header_search.html' %}
    </div>
</div>

<div class="header-links">
    <a href="{{ path.pages_signup }}"><button class="btn-default header-button">Sign Up</button></a>
    <span class="heading-with-icon header-user-icon">
        {% include '../icons/user.html' %}
        <fc-modal id="login" custom-trigger="<a style='position: relative; top: 6px;'>Login</a>" style="float: right;">
            <fc-login></fc-login>
        </fc-modal>
    </span>
</div>
