<div class="header-user-buttons">
  <ul class="header-user-buttons-list header-user-buttons-list-left">

    <li class="header-user-button">
      <!ul class="dropdown nested vertical menu" data-dropdown-menu>
        <a data-tooltip class="has-tip" title="Profile" href="/member/{{ session.username }}">{% include '../icons/user.html' %}</a>
      {# ok i thought this would be easier.. trying for a nested vertical dropdown...   <li><a href="/home/dashboard">{{
    t('My Dashboard') }}</a></li>
        <li><a href="/home/my-posts">{{ t('My Posts') }}</a></li>
        <li>{{ t('My Messages') }}</li>
        <li>{{ t('My Friends') }}</li>
        <li>{{ t('My Towns') }}</li>
      </ul>      #}
    </li>

    <li class="header-user-button">
      <a data-tooltip class="has-tip" title="Settings" href="{{ path.home_settings }}">{% include '../icons/settings.html' %}</a>
    </li>

  </ul>

  <ul class="header-user-buttons-list header-user-buttons-list-right">

    {# TODO: make this only display if current user is a moderator
    <li class="header-user-button">
      <a data-tooltip class="has-tip" title="{{ t('Moderator') }}" href="https://moderator.freecycle.org">{% include '../icons/moderate.html' %}
      <span>3</span></a>
    </li>
    #}

    <li class="header-user-button">
      <a data-tooltip class="has-tip" title="Alerts" href="{{ path.home_alerts }}">{% include '../icons/alert.html' %}
      <span>{{ alertCount }}</span></a>
    </li>

    <li class="header-user-button">
      <a data-tooltip class="has-tip" title="{{ t('Messages') }}" href="{{ path.home_myreplies }}">{% include '../icons/messages.html' %}
        <fc-messages-notifier-connected :static-unreads="{{ unreadReplies || 0 }}" :on-my-replies="{{ route.id === 'home_myreplies' }}"/>
      </a>
    </li>

  </ul>
</div>
