<div class="header-user-buttons">
  <ul class="header-user-buttons-list header-user-buttons-list-left">

    <li class="header-user-button">
      <a data-tooltip class="has-tip" title="Profile" href="/member/{{ session.username }}">{% include '../icons/user.html' %}</a>
    </li>

    <li class="header-user-button">
      <a data-tooltip class="has-tip" title="Settings" href="{{ path.home_settings }}">{% include '../icons/settings.html' %}</a>
    </li>

  </ul>

  <ul class="header-user-buttons-list header-user-buttons-list-right">

    {# TODO: make this only display if current user is a moderator
    <li class="header-user-button">
      <a data-tooltip class="has-tip" title="Moderator" href="https://moderator.freecycle.org">{% include '../icons/moderate.html' %}
      <span>3</span></a>
    </li>
    #}

    <li class="header-user-button">
      <a data-tooltip class="has-tip" title="Alerts" href="{{ path.home_alerts }}">{% include '../icons/alert.html' %}
      <span>{{ alertCount }}</span></a>
    </li>

    <li class="header-user-button">
      <a data-tooltip class="has-tip" title="Messages" href="{{ path.home_myreplies }}">{% include '../icons/messages.html' %}
        <fc-messages-notifier-connected :static-unreads="{{ unreadReplies || 0 }}" :on-my-replies="{{ route.id === 'home_myreplies' }}"/>
      </a>
    </li>

  </ul>
</div>
