{# Note: This file is provided by the fc3_common_assets  package #}
<div class="header-logo small-centered">
<a href="/"><fc-icon name='logo'></fc-icon></a>
</div>

<div class="header-stretch row" style="flex-wrap: wrap;">
    <div class="header-search-wrapper small-centered hide-for-small-only">
        {% include './header_search.html' %}
    </div>
    <div class="user-button-wrapper small-centered " >
        {% include './header_user_buttons.html' %}
    </div>
</div>

<div class="header-links">
    <a id="mobile-search-button" class="show-for-small-only">
        <button class="btn-default header-button">
            <i class="fa fa-search" style="margin: -4px 0; font-size: 14px; color: #fff;"></i>
            {{ t('Search') }}
        </button>
    </a>
    {% if connections.groups || connections.friends %}
        <a href="{{ path.home_post_new }}"><button class="btn-default header-button">{{ t('Make A Post') }}</button></a>
    {% endif %}
    <div id="mobile-search" style="display: none;">
        {% include './header_search.html' %}
    </div>
</div>
