<div class="header-user-buttons">
  <ul class="header-user-buttons-list header-user-buttons-list-left">
    {# make this only display if current user is a moderator #}
    {% if session.mods %}
    <li class="header-user-button">
      <ul class="profile-options-dropdown custom-dropdown menu" data-custom-dropdown>
        <div class="custom-dropdown-toggle">
          <a class="main-link has-tip" href="javascript:void(0);">
            {% include '../icons/moderate.html' %}
          </a>
        </div>
        <li class="custom-dropdown-content">

          <ul class="menu">
            <li>
              <li class="custom-dropdown-item">
                  <a data-tooltip title="{{ t('Moderator Tools') }}" href="https://moderator.freecycle.org">Moderator Tools</a>
                </li>
              {% for group in connections.groups %}
                {% if session.mods|contains(group.id) %}
                  <li class="custom-dropdown-item">
                    <a href="http://moderator.freecycle.org/manage/{{ group.uniqueName }}">{{ group.name }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </li>
          </ul>
        </li>
      </ul>
    </li>
    {% endif %}
    <li class="header-user-button">
      <ul class="profile-options-dropdown custom-dropdown menu" data-custom-dropdown>
        <div class="custom-dropdown-toggle">
          <span class="hide-for-small-only hide-for-medium-only hide-for-header-only">
            {% include '../icons/user.html' %}
          </span>
          <span class="show-for-small-up hide-for-large">
            <i class="fa fa-bars"></i>
          </span>
        </div>
        <li class="custom-dropdown-content">
          <ul class="menu">
            <li class="custom-dropdown-item">
              <a href="/home/dashboard/">{{ t('My Dashboard') }}</a>
            </li>
            <li class="custom-dropdown-item">
              <a href="/home/my-replies/">{{ t('My Messages') }}</a>
            </li>
            <li class="custom-dropdown-item">
              <a href="/home/my-posts/">{{ t('My Posts') }}</a>
            </li>
            <li class="custom-dropdown-item">
              <a href="/home/my-friends/">{{ t('My Friends') }}</a>
            </li>
            <li class="custom-dropdown-item">
              <a href="/home/my-towns/">{{ t('My Towns') }}</a>
            </li>
            <li class="custom-dropdown-item">
              <a href="/member/{{ session.username }}/">{{ t('My Profile') }}</a>
            </li>
            <li class="custom-dropdown-item">
              <a href="/home/settings/">{{ t('My Settings') }}</a>
            </li>
            <li class="custom-dropdown-item">
              <a href="/logout/">{{ t('Logout') }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <ul class="header-user-buttons-list header-user-buttons-list-right">

    <li class="header-user-button">
      <a data-tooltip class="has-tip" title="Alerts" href="{{ path.home_alerts }}">{% include '../icons/alert.html' %}
      {% if alertCount > 0 %}<span>{{ alertCount }}</span></a>{% endif %}
    </li>

    <li class="header-user-button">
      <a data-tooltip class="has-tip" title="{{ t('Messages') }}" href="{{ path.home_myreplies }}">{% include '../icons/messages.html' %}
        <fc-messages-notifier-connected :static-unreads="{{ unreadReplies || 0 }}" :on-my-replies="{{ route.id === 'home_myreplies' }}"/>
      </a>
    </li>

  </ul>
</div>
