<div class="header-logo">
    {% include '../icons/logo.html' %}
</div>

<div class="header-stretch">
    <div class="header-search">

        <div class="search-input">
            <input class="search input-group-field" type="search" placeholder="Search for items..."/>
        </div>

        <div class="search-location">
            <span class="search-map-icon">
                {% include '../icons/map_pin.html' %}
            </span>

            <span class="location">Tucson, AZ</span>

            <span class="search-icon">
                {% include '../icons/search.html' %}
            </span>
        </div>

    </div>
</div>

<div class="header-links">
    <button class="btn-default header-signup-button">Sign Out</button>

    <span class="heading-with-icon header-user-icon">
        {% include '../icons/user.html' %}
        Login
    </span>
</div>
