<ul class="tabs" id="h-example-tabs" data-tab data-options="deep_linking:true">
	<li class="tabs-title"><a id="desktop-dash" href="/desktop-dash">Dashboard</a></li>
	<li class="tabs-title"><a id="my-replies" href="/home/my-replies">My Replies</a></li>
	<li class="tabs-title"><a id="my-posts" href="/home/my-posts">My Posts</a></li>
	<li class="tabs-title"><a id="my-friends" href="/home/my-friends">My Friends</a></li>
	<li class="tabs-title"><a id="my-groups" href="/home/my-groups">My Groups</a></li>
</ul>

{# NOTE see assets/js/modules/home_tabs.js for tab state logic #}