<ul class="tabs" id="h-example-tabs" data-tab data-options="deep_linking:true">
	<li class="tabs-title"><a id="desktop-dash" href="{{ path.pages_dashboard }}">Dashboard</a></li>
	<li class="tabs-title"><a id="my-replies" href="{{ path.home_myreplies }}">My Replies</a></li>
	<li class="tabs-title"><a id="my-posts" href="{{ path.home_myposts }}">My Posts</a></li>
	<li class="tabs-title"><a id="my-friends" href="{{ path.home_myfriends }}">My Friends</a></li>
	<li class="tabs-title"><a id="my-groups" href="{{ path.home_mygroups }}">My Groups</a></li>
</ul>

{# NOTE see assets/js/modules/home_tabs.js for tab state logic #}