<!-- <div class="row"> -->
  <div class="medium-12 columns form-group">
    <label for="home-group">Home Town
      <select class="select-home-group" name="home-group" data-width="100%">
        {% for town in data.settings.towns %}
          {% if data.settings.homeTown === town.id %}
            <option value="{{town.id}}" selected="selected">{{town.name}}</option>
          {% else %}
            <option value="{{town.id}}" >{{town.name}}</option>
          {% endif %}
        {% endfor %}
      </select>
    </label>
  </div>  
<!-- </div> -->