<div class="row">
    <div class="horizontal_tabs">
        <!--  tabs  -->
        <ul class="tabs" data-tabs id="h-example-tabs">
            <li class="tabs-title is-active"><a href="#hpanel1" aria-selected="true">Tab 1</a></li>
            <li class="tabs-title"><a href="#hpanel2">Tab 2</a></li>
        </ul>

        <!--  tabs-content  -->
        <div class="tabs-content" data-tabs-content="h-example-tabs">
            <div class="tabs-panel is-active" id="hpanel1">
                <!--  statically define groups array inline  -->
                {%  set groupsArray = ['tucson','marana','oro valley','vail','sahuarita']  %}

                <!--  include nearby-groups module, and pass groups data   -->
                {%
                    include './nearby_groups.html'
                    with {
                        groups: groupsArray
                    }
                    only
                %}

                <!--  include item_list module   -->
                {% include './item_list.html' %}
            </div>
            <div class="tabs-panel" id="hpanel2">
                <p>Suspendisse dictum feugiat nisl ut dapibus.  Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.  Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
            </div>
        </div>
    </div>
</div>