<div>
    <p class="paragraph-small text-lighten-less image-uploader-rules" style="margin-bottom: 0;"></p>
    <div class="upload-errors-container"></div>
    <div class="dropbox text-center">
        <input name="images" type="file" id="images" multiple accept="image/jpeg,image/png" class="input-file" />
        <div class="enabled-upload">
            <br>
            <h4>Drag your image files here,</h4> or
            <p style="padding:0;">
                <button class="btn-subtle text-center">click on this and select files</button>
            </p>
        </div>
        <p class="disabled-upload" hidden>You've uploaded the max allowed images</p>
    </div>
    <div class="uploaded-files row">
        {% if images && images.length %}
            {% for image in images %}
                <div class="img-block" data-upload-order="{{loop.index0}}">
                    <div class="image-container" style="background-image: url({{ image }})"></div>
                    <div class="rotate-buttons">
                        <button class="btn-default rotate-clockwise">&#x21BB;</button>
                    </div>
                    <button class="btn-default del-img" type="button">Remove</button>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
