<div class="item-list">
    <div class="item-list-inner row">
        <!-- Header row and controls -->
        <div class="item-list-header">
            <div class="item-list-header-filter">
                {% if filterType === 'circle' %}
                {% include './circle_type_filter_list.html' %}
                {% elseif isGroup %}
                {% include './listing_type_filter_list.html' %}
                {% else %}
                {% include './group_dropdown.html' %}
                {% endif %}
            </div>
            <div class="item-list-header-controls">
                {# NOTE: this conditional no longer exists, and was not allowing the filters to pass.
                {% if showFilterSelectors && !isGroup %}
                #}
                {% include './listing_type_filter_list.html' %}
                {#{% endif %}#}
                <label class="text-lighten item-list-header-controls-label">View: </label>
                <ul class="item-list-header-controls-list">
                    <li :class="`item-list-header-filter-icon item-list-grid-view ${$root.posts.layout !== 'grid' ? 'inactive' : ''}`" @click.prevent="$root.posts.layout = 'grid'">
                        {% include '../icons/grid.html' %} <span>Grid</span></li>
                    <li :class="`item-list-header-filter-icon item-list-list-view ${$root.posts.layout !== 'list' ? 'inactive' : ''}`" @click.prevent="$root.posts.layout = 'list'" >
                        {% include '../icons/list.html' %} <span>List</span></li>
                </ul>
            </div>
        </div>
        <!-- tag row -->
        <div class="item-list-subheader">
          {% if showDashboard %}
          <div class="item-list-dropdown">
              {% include './group_dropdown.html' %}
          </div>
          {% endif %}
          <div class="item-list-tags">
              {% include './tag_list.html' %}
          </div>
        </div>
        
        <!-- Items list -->
        <div class="item-list-items" >
            <div v-masonry transition-duration="0.3s" item-selector=".post-grid-item" class="item-grid-view" ref="post_gridview" v-if="$root.posts.layout == 'grid'" >
                <div class="grid-sizer"></div>
                <div class="gutter-sizer"></div>
                <fc-data v-masonry-tile :data="{{data|json}}" context="posts" component="fc-post-grid-item" :path="{{path|json}}"></fc-data>
            </div>
            <div class="item-list-view" ref="post_listview" v-if="$root.posts.layout == 'list'">
                <fc-data :data="{{data|json}}" context="posts" component="fc-post-list-item" :path="{{path|json}}"></fc-data>
            </div>
        </div>
    </div>
    <br/>
    <div class=" row item-list-load-more">
        <button class="btn-action pulse" @click="$root.$emit('loadMorePosts')">Load More</button>
    </div>
</div>