{#
    session and session.id does not exist when the user is not logged in.
    we must define a key that always exists server side before passing data to the component.
#}

{% set sessionId = session.id || 0 %}
<div class="item-list">
    <div class="item-list-inner row">
        <!-- Header row and controls -->
        {% if !custom_hide_filter_override %} {# Allows us to hide filter if needed, defaults to on unless set #}
        <div class="item-list-header">
            <div class="item-list-header-filter">
                {% if filterType === 'circle' %}
                    {% include './circle_type_filter_list.html' %}
                    {% if data.criteria.friends %}
                        {% set circle = 'friends' %}
                    {% else %}
                        {% set circle = 'towns' %}
                    {% endif %}
                {% endif %}

                {% if isGroup %}
                    {# just to place post type filter on left side of filters display, only on group pages #}
                    {% include './listing_type_filter_list.html' %}
                {%  else %}
                {# the only times we don't want the dropdown is anon user (search page), friends circle, or we already gave a specific group id.    #}
                    {% if sessionId && !data.criteria.friends && ['ALL_TOWNS', 'all', 'any', '']|contains(data.criteria.town) %}
                        {% include './group_dropdown.html' %}
                    {% endif %}
                {%  endif %}
            </div>
            <div class="item-list-header-controls {{ customClass }}">
                {% if !isGroup %}
                    {% include './listing_type_filter_list.html' %}
                {% endif %}
                <label class="text-lighten item-list-header-controls-label">{{ t('View:') }} </label>
                <ul class="item-list-header-controls-list">
                    <li :class="`item-list-header-filter-icon item-list-grid-view hover-state ${$root.posts.layout !== 'grid' ? 'inactive' : ''}`" @click.prevent="$root.posts.layout = 'grid'; $root.$emit('handleLayoutChange')">
                        {% include '../icons/grid.html' %} <span>{{ t('Grid') }}</span></li>
                    <li :class="`item-list-header-filter-icon item-list-list-view hover-state ${$root.posts.layout !== 'list' ? 'inactive' : ''}`" @click.prevent="$root.posts.layout = 'list'; $root.$emit('handleLayoutChange')" >
                        {% include '../icons/list.html' %} <span>{{ t('List') }}</span></li>
                </ul>
            </div>
        </div>
        {% endif %}
        <!-- tag row -->
        <div class="item-list-subheader">
          {% if showDashboard %}
          <div class="item-list-dropdown">
              {% include './group_dropdown.html' %}
          </div>
          {% endif %}
          {% if data.tags.length %}
              <div class="item-list-tags">
                  {% include './tag_list.html' %}
              </div>
          {% endif %}
        </div>
        {% if data.posts && data.posts.length %}
            <!-- Items list -->
            <div class="item-list-items" style="height: auto;" >
                <div v-masonry transition-duration="0.3s" item-selector=".post-grid-item" class="item-grid-view" ref="post_gridview" v-if="$root.posts.layout === 'grid'" >
                    <div class="grid-sizer"></div>
                    <div class="gutter-sizer"></div>
                    <fc-data v-masonry-tile :data="{{data|json|striptags|e}}" :viewer="{{sessionId}}" :limit=10 context="posts" circle="{{circle}}" component="fc-post-grid-item" :path="{{path|json|e}}" :route="{{path|json|e}}" :blocked-users={{data.blockedUsers|json|e}}></fc-data>

                </div>
                <div class="item-list-view" ref="post_listview" v-if="$root.posts.layout === 'list'">
                    <fc-data :data="{{data|json|striptags|e}}" :limit=10 context="posts" :viewer="{{sessionId}}" circle="{{circle}}" component="fc-post-list-item" :path="{{path|json|e}}" :route="{{route|json|e}}" :blocked-users={{data.blockedUsers|json|e}}></fc-data>
                </div>
            </div>
        <div class="row"></div>
            {#NOTE: The limit of number of items shown is controlled via Data.vue props.limit#}
            {# fc-data component will control showing this or not. #}
            <div id="item-list-load-more" class="row item-list-load-more">
                <button class="btn-action" @click="$root.$emit('loadMorePosts')">{{ t('Load More') }}</button>
            </div>
            {# endif #}
        {% else %}
            {% if filterType === 'circle' %}
                <div class="row text-center" style="margin-top:1em;">
                {% if data.criteria.friends %}
                    {% if !connections.friends %}
                        {% include './partials/no_friends_cta.html' %}
                    {% else %}
                        <p>
                            <a href="{{ path.home_myfriends }}">{{ t("You've got friends, but they haven't posted anything recently, and neither have you.") }}</a>
                        </p>
                    {% endif %}
                {% else %}
                    {% if !connections.towns %}
                    {{ t('Join a local Town group to see and make posts.') }}  <a href="{{ path.find_groups }}" class="btn-default">{{ t('Find a Town') }}</a>

                    {% else %}
                    {{ t('There are no posts in your towns.') }}
                    {% endif %}
                {% endif %}
                </div>
            {% endif %}
            <!--for some other reason, there's no posts here-->
        {% endif %}
    </div>

</div>
