<div class="row">
  <div class="medium-12 columns form-group">
    <label for="lang-prefs">Language Preferences
      <select class="language-prefs" name="languages" multiple="multiple" data-width="100%">
        {% for language in data.languageOptions %}
          {% if data.settings.languages.includes(language.code) %}
            <option value="{{language.code}}" selected="selected">{{language.name}}</option>
          {% else %}
            <option value="{{language.code}}">{{language.name}}</option>
          {% endif %}
        {% endfor %}
      </select>
    </label>
  </div>
</div>
