{# Note: This file is provided by the fc3_common_assets  package #}
<ul class="item-list-header-filter-list">
    {# below is a crazy way of saying "if dashboard and friends circle, or My Posts page, then show the Lend and Borrow types" #}
    {% if data.criteria.friends or (!isGroup && !data.criteria.friends && !filterType) %}
    <li :class="`item-list-header-filter-icon item-list-lend-filter hover-state ${(!$root.posts.filter || ($root.posts.filter == 'lend')) ? '' : 'inactive'}`" @click.prevent="$root.$emit('handlePostFilter', 'lend')" >
        {% include '../icons/chevron.html' with {className:'icon-chevron-lend'} only %}
        <span class="text-lend">{{ t('Lend') }}</span>
    </li>
    <li :class="`item-list-header-filter-icon item-list-borrow-filter hover-state ${(!$root.posts.filter || ($root.posts.filter == 'borrow')) ? '' : 'inactive'}`" @click.prevent="$root.$emit('handlePostFilter', 'borrow')" >
        {% include '../icons/chevron.html' with {className:'icon-chevron-borrow'} only %}
        <span class="text-borrow">{{ t('Borrow') }}</span>
    </li>
    {% endif %}
    <li :class="`item-list-header-filter-icon item-list-offer-filter hover-state ${(!$root.posts.filter || ($root.posts.filter == 'offer')) ? '' : 'inactive'}`" @click.prevent="$root.$emit('handlePostFilter', 'offer')" >
        {% include '../icons/chevron.html' with {className:'icon-chevron-offer'} only %}
        <span class="text-offer">{{ t('Offer') }}</span>
    </li>
    <li :class="`item-list-header-filter-icon item-list-wanted-filter hover-state ${(!$root.posts.filter || ($root.posts.filter == 'wanted')) ? '' : 'inactive'}`" @click.prevent="$root.$emit('handlePostFilter', 'wanted')" >
        {% include '../icons/chevron.html' with {className:'icon-chevron-wanted'} only %}
        <span class="text-wanted">{{ t('Wanted') }}</span>
    </li>
</ul>