<ul class="item-list-header-filter-list">
    <li class="item-list-header-filter-icon item-list-offer-filter">
        {% include '../icons/chevron.html' with {className:'icon-chevron-offer'} only %}
        <span class="text-offer">Offer</span>
    </li>
    <li class="item-list-header-filter-icon item-list-wanted-filter">
        {% include '../icons/chevron.html' with {className:'icon-chevron-wanted'} only %}
        <span class="text-wanted">Wanted</span>
    </li>
    <li class="item-list-header-filter-icon item-list-lend-filter">
        {% include '../icons/chevron.html' with {className:'icon-chevron-lend'} only %}
        <span class="text-lend">Lend</span>
    </li>
    <li class="item-list-header-filter-icon item-list-borrow-filter">
        {% include '../icons/chevron.html' with {className:'icon-chevron-borrow'} only %}
        <span class="text-borrow">Borrow</span>
    </li>
</ul>