{# Note: This file is provided by the fc3_common_assets  package #}
<ul class="item-list-header-filter-list">
    <li :class="`item-list-header-filter-icon item-list-offer-filter ${$root.posts.filter == 'offer' ? 'inactive' : ''}`" @click.prevent="$root.$emit('handlePostFilter', 'offer')" >
        {% include '../icons/chevron.html' with {className:'icon-chevron-offer'} only %}
        <span class="text-offer">Offer</span>
    </li>
    <li :class="`item-list-header-filter-icon item-list-wanted-filter ${$root.posts.filter == 'wanted' ? 'inactive' : ''}`" @click.prevent="$root.$emit('handlePostFilter', 'wanted')" >
        {% include '../icons/chevron.html' with {className:'icon-chevron-wanted'} only %}
        <span class="text-wanted">Wanted</span>
    </li>
    <li :class="`item-list-header-filter-icon item-list-lend-filter ${$root.posts.filter == 'lend' ? 'inactive' : ''}`" @click.prevent="$root.$emit('handlePostFilter', 'lend')" >
        {% include '../icons/chevron.html' with {className:'icon-chevron-lend'} only %}
        <span class="text-lend">Lend</span>
    </li>
    <li :class="`item-list-header-filter-icon item-list-borrow-filter ${$root.posts.filter == 'borrow' ? 'inactive' : ''}`" @click.prevent="$root.$emit('handlePostFilter', 'borrow')" >
        {% include '../icons/chevron.html' with {className:'icon-chevron-borrow'} only %}
        <span class="text-borrow">Borrow</span>
    </li>
</ul>