{# Note: This file is provided by the fc3_common_assets  package #}
<li class="message-reply-list-item" data-message-id="{{message.id}}">
  <div class="message-list-item-left">
    {% if message.title %}
    <div class="message-title">
      {% if message.image %}
      <img class="message-image {{ message.type }}" src="{{message.image}}"/>
      {% endif %}
      <h4>
        {{message.title}}
      </h4>
    </div>
    {% endif %}
    {% if message.category %}
    <div class="message-type">
      <div class="post-list-item-category-icon">
        {% if message.category === 'offer' %}
        {% include '../icons/chevron.html' with {className:'icon-chevron-offer'} only %}
        <span class="text-offer">Offer</span>
        {% elseif message.category === 'lend' %}
        {% include '../icons/chevron.html' with {className:'icon-chevron-lend'} only %}
        <span class="text-lend">Lend</span>
        {% elseif message.category === 'borrow' %}
        {% include '../icons/chevron.html' with {className:'icon-chevron-borrow'} only %}
        <span class="text-borrow">Borrow</span>
        {% elseif message.category === 'wanted' %}
        {% include '../icons/chevron.html' with {className:'icon-chevron-wanted'} only %}
        <span class="text-wanted">Wanted</span>
        {% endif %}
      </div>
    </div>
    {% endif %}
    {% if message.time %}
    <div class="message-time">
      <span class="text-lighten">{{message.time}}</span>
    </div>
    {% endif %}
  </div>

  <div class="message-list-item-right">
    {% if message.notification %}
    <div class="message-notification">
      <span>{{message.notification}}</span>
    </div>
    {% endif %}
    <div class="message-arrow">
      {% include '../icons/arrow.html' with {className:'icon-message-arrow'} only %}
    </div>
  </div>



</li>