{# Note: This file is provided by the fc3_common_assets  package #}
<li class="message-list-item-details" data-message-id="{{message.id}}">
  <div class="message-list-item-details-sidebar">
    <ul class="message-list-item-details-participants">
      <li class="message-list-item-details-participant">
        <span class="chat-message-avatar" style="background: rgb(186,104,200);"></span> Kristcasenic
        <span class="unread-amount">7</span>
      </li>
      <li class="message-list-item-details-participant">
        <span class="chat-message-avatar" style="background: rgb(255,167,38);"></span> maradis78
        <span class="unread-amount">4</span>
      </li>
      <li class="message-list-item-details-participant">
        <span class="chat-message-avatar" style="background: rgb(175,180,43);"></span> ifreecycledoyou
        <span class="unread-amount">3</span>
      </li>
      <li class="message-list-item-details-participant">
        <span class="chat-message-avatar" style="background: rgb(38,166,154);"></span> crystalbeta
        <span class="unread-amount">1</span>
      </li>
      <li class="message-list-item-details-participant">
        <span class="chat-message-avatar" style="background: rgb(236,64,122);"></span> cmartin89
        <span class="unread-amount">2</span>
      </li>
      <li class="message-list-item-details-participant">
        <span class="chat-message-avatar" style="background: rgb(255,213,79);"></span> jonesy12135
        <span class="unread-amount">3</span>
      </li>
      <li class="message-list-item-details-participant">
        <span class="chat-message-avatar" style="background: rgb(126,87,194);"></span> npuente
        <span class="unread-amount">9</span>
      </li>
    </ul>
  </div>
  <div class="message-list-item-details-chat">
    <div class="message-list-item-details-chat-window">
      <div class="message-list-item-details-chat-message">
        <p class="chat-message-from"><span class="chat-message-avatar" style="background: rgb(186,104,200);"></span>Kristasenic</p>
        <p class="chat-message-message">Hi there. I'm interested in picking this up from you. Is it still available?</p>
        <p class="chat-message-time">10 minutes Ago</p>
      </div>
      <div class="message-list-item-details-chat-message message-from-self">
        <p class="chat-message-from"><span class="chat-message-avatar" style="background: url(http://lorempixel.com/16/16);"></span>Alexparisi</p>
        <p class="chat-message-message">Yes it is! Can you pick it up today?</p>
        <p class="chat-message-time">10 minutes Ago</p>
      </div>
    </div>
    <div class="message-list-item-details-chat-form">
      <form>
        <textarea placeholder="Write a Message.."></textarea>
        <button class="btn-default">Send</button>
      </form>
    </div>
  </div>
</li>