<div class="row">
  <h4 class="text-center page-sub-title">{{ title }}</h4>
  <div class="row text-center">
    Want to join another town? <a href="/find-towns">Find more here</a>
  </div>
</div>

<div class="row">
  <div class="item-list-header small-centered large-12 column">
    <div class="item-list-header-controls my-groups-header-controls">
        <label class="text-lighten item-list-header-controls-label">View: </label>
        <ul class="item-list-header-controls-list tabs" id="mygroups_detail" data-tabs>
            <li class="item-list-header-filter-icon item-list-grid-view tabs-title ">
                <a href="#mygroups_list">{% include '../icons/list.html' %} <span>List</span></a>
            </li>
            {% if data.geomap %}
              <li class="item-list-header-filter-icon item-list-list-view tabs-title is-active">
                    <a href="#mygroups_map">{% include '../icons/map_compass.html' %} <span>Map</span></a>
              </li>
            {% endif %}
        </ul>
    </div>
  </div>
</div>

<div class="row tabs-content small-centered large-12 column" data-tabs-content="mygroups_detail">
  {% if data.geomap %}
    <div id="mygroups_map" class="table-example row tabs-panel is-active">
      {% include "./geomap.html" with { geomap: data.geomap } %}
    </div>
  {% endif %}

  <div id="mygroups_list" class="table-example row tabs-panel {% if !data.geomap %} is-active {% endif %}">
    <table>
      <thead>
      <tr>
        <th>Local Town</th>
        <th>State</th>
        {% if data.homeTown %}
          <th>Distance (miles)</th>
        {% endif %}
      </tr>
      </thead>
      <tbody>
      {% for group in data.locatedGroups %}
        <tr>
          <td><h4><a href="/town/{{group|groupIdentifier}}">{{group.name}}</a></h4></td>
          <td>{{group.region.name}}</td>
          <!-- TODO This assumes unit is miles; update to work w/ km when used -->
          {% if data.homeTown %}
            <td>
              {% if group.distance === Infinity %}
                N/A (no location info available)
              {% elseif group.id === data.homeTown.id %}
                Home Town!
              {% else %}
                {{group.distance}}
              {% endif %}
            </td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% if data.friendships && !data.friendships.length %}
<div class="row" id="first-group" style="margin-top: -2rem; background-color: white;">
  <div class="small-4" style="margin: auto; padding: 2rem;">
      <div>
        <strong>
          <p>What's next? Have you setup your Friends Circle yet?</p>
          <p>
            Your Friends Circle is your own personal inner circle of friends with
            whom you can not only gift items but also lend items out. Perfect for hobby
            groups that regularly share items, for example
          </p>
        </strong>
      </div>
      <div style="margin: 2rem 0;">
          <a class="btn btn-wanted" href="/home/my-friends/find">Add Friends</a>
      </div>
      <div style="margin-top: 6rem; font-style: italic;">
          Return to my
          <a class="btn btn-subtle right" href="/home/dashboard"
              data-tooltip tabindex="1" title="Are you sure? Starting your Friends Circle helps make the most of the Freecycle Network">
              Dashboard
          </a>
      </div>
  </div>
</div>
{% endif %}
