<div class="row">
  <h4 class="text-center page-sub-title">My Groups</h4>
  {% include './in_page_search.html' with {label:'Search Groups'} %}
</div>

<div class="row">
  <div class="item-list-header small-centered large-8 column">
    <div class="item-list-header-controls my-groups-header-controls">
        <label class="text-lighten item-list-header-controls-label">View: </label>
        <ul class="item-list-header-controls-list tabs" id="mygroups_detail" data-tabs>
            <li class="item-list-header-filter-icon item-list-grid-view tabs-title ">
                <a href="#mygroups_list">{% include '../icons/list.html' %} <span>List</span></a>
            </li>
            <li class="item-list-header-filter-icon item-list-list-view tabs-title is-active">
                  <a href="#mygroups_map">{% include '../icons/map_compass.html' %} <span>Map</span></a>
            </li>
        </ul>
    </div>
  </div>
</div>

<div class="row tabs-content small-centered large-8 column" data-tabs-content="mygroups_detail">
  <div id="mygroups_map" class="table-example row tabs-panel is-active">
    {% include "./geomap.html" with geomap %}
  </div>
  
  <div id="mygroups_list" class="table-example row tabs-panel">
    <table>
      <thead>
      <tr>
        <th>Local Group</th>
        <th>State</th>
        <th>Distance</th>
      </tr>
      </thead>
      <tbody>
      {% for group in myGroups %}
        <tr>
          <td><h4>{{group.name}}</h4></td>
          <td>{{group.state}}</td>
          <td>{{group.distance}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>