<div class="row">
    <div class="nearby-groups">
        <span class="nearby-groups-label">Nearby towns...</span>

        <!--  nearby location groups  -->
        <span class="nearby-groups-buttons">
            {% for group in groups %}
                <a href="/town/{{group.id}}" class="btn-default nearby-groups-button">{{group.name}}</a>
            {% endfor %}
        </span>

        <span class="nearby-groups-browse-all">
            <span class="map-pin-icon">
                {% include '../icons/map_pin.html' %}
            </span>

            <span class="nearby-groups-browse-all-label">browse all towns ></span>
        </span>
    </div>
</div>
