<div class="row">
    <div class="nearby-groups">
        {% if groups.length %}
            <!--  nearby location groups  -->
            <span class="nearby-groups-label">Nearby towns...</span>
            <span class="nearby-groups-buttons">

                    {% for group in groups %}
                        <a href="/town/{{group|groupIdentifier}}" class="btn-default nearby-groups-button">{{group.name}}</a>
                    {% endfor %}

            </span>
        {% endif %}
        <span class="nearby-groups-browse-all">
            <span class="map-pin-icon">
                {% include '../icons/map_pin.html' %}
            </span>

            <span class="nearby-groups-browse-all-label">
                <a href="/find-towns">browse all towns ></a>
            </span>
        </span>
    </div>
</div>
