<div style="width:60%; margin:auto;">
    <h3>{{ t('Friends Circle is a new way to interact with people you know on Freecycle.org') }}</h3>

    <p>
        {{ t('Your Friends Circle is <a href="https://freecycle.helpscoutdocs.com/article/95-my-friends">your own personal inner circle of friends</a>with whom you can not only <a href="https://freecycle.helpscoutdocs.com/article/93-post-to-friends-only">gift items but also lend and borrow items</a>. Your Friends Circle is separate from your local Town Group(s) and can be made up of anyone you know and trust. Friends should be located near enough for you to easily pick up posted items.') }}
    </p>
<br>
    <h4>{{ t('To get started,') }} <a href="{{path.home_myfriends}}">{{ t('invite some friends') }}</a>, <a href="{{path.home_post_new}}">{{ t('then make some posts to your Friends Circle.') }}</a></h4>

        <a class="btn-default" onClick="$('#learn-more').removeClass('is-hidden');">{{ t('Learn More') }}</a>

    <div id="learn-more" class="is-hidden invite-box">
        <h5>{{ t('Here are some ways you can make the most of your Friends Circle:') }}</h5>
        <ul class="text-justify">
            <li>{{ t('Your Friends post their kids outgrown toys and <a href="https://freecycle.helpscoutdocs.com/article/127-tags">tag</a> their posts with the Toys category. You filter your Friends Circle to see just toys and pick up some new-to-them toys for your kids.') }}</li>
            <li>{{ t('Your neighbor needs a specialized tool to finish a woodworking project and posts to your Friends Circle asking to <a href="https://freecycle.helpscoutdocs.com/article/103-lend-or-borrow-items">borrow one</a>. You happen to have one and offer to lend it. You agree on a time frame for returning the tool and they are on their way to finishing that project.') }}</li>
            <li>{{ t("You and some friends want to swap books you've finished reading. You add each other to your Friends Circles and post books to gift or lend, using the Books tag. You filter your Friends Circle posts on the Books category to see what's available and pick up something new to read.") }}</li  >
        </ul>

        <h5> {{ t('It is easy to view and <a href="https://freecycle.helpscoutdocs.com/article/60-reply-to-posts">reply</a>to posts made by people in your Friends Circle') }}</h5>
        <ul class="text-justify">
            <li>{{ t('Click on Freecycle logo from any Freecycle.org page to get to your Dashboard.') }}</li>
            <li>{{ t('Click on Friends Circle to show all the posts made by your Friends.') }}</li>
            <li>{{ t('Select Lend, Borrow, Offer or Wanted to filter posts by type.') }}</li>
            <li>{{ t('Click on Select a tag to filter the list below and select a tag to narrow your results to a specific category.') }}</li>
            <li>{{ t('Select Grid or List to change the way posts are displayed.') }}</li>
        </ul>
    </div>
</div>