<article class="row page-container">
    {% include './post_header.html' %}

    <div class="row collapse">
        <div class="medium-3 columns">
            <ul class="tabs vertical page-tabs-nav" id="example-vert-tabs" data-tabs>
                <li class="tabs-title is-active"><a href="#panel1v" aria-selected="true">Tab 1</a></li>
                <li class="tabs-title"><a href="#panel2v">Tab 2</a></li>
            </ul>
        </div>
        <div class="medium-8 columns last">
            <div class="tabs-content column  vertical page-tabs-panels" data-tabs-content="example-vert-tabs">
                <div class="tabs-panel page-tabs-panel is-active" id="panel1v">
                    <img class="page-tabs-panel-image" src="http://lorempixel.com/600/300">
                    <h2 class="section-title">Section Title</h2>
                    <h3 class="section-title-small">Small Title</h3>
                    <p class="">Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. <a href="">Link Style</a>. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.</p>
                    <p class="paragraph-small">Small Paragraph. Et mollis nunc diam eget sapien. Nulla facilisi. Etiam feugiat imperdiet rhoncus. Sed suscipit bibendum enim, sed volutpat tortor malesuada non. Morbi fringilla dui non purus porttitor mattis. Suspendisse quis vulputate risus. Phasellus erat velit, sagittis sed varius volutpat, placerat nec urna. Nam eu metus vitae dolor fringilla feugiat... <a href="#">Read More</a></p>
                </div>
                <div class="tabs-panel page-tabs-panel" id="panel2v">
                    <img class="page-tabs-panel-image" src="http://lorempixel.com/600/300">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
</article>