{# Note: This file is provided by the fc3_common_assets  package #}
<div class="post-list-item">
    <div class="post-list-item-photo">
        {% if post.thumb %}
            <img width=128 src="{{post.thumb}}">
        {%else%}
            {% include "../icons/logo.html" %}
        {% endif %}
    </div>
    <div class="post-list-item-content">
        <div class="post-list-item-content-header">
            <div class="post-list-item-header-left">
                <div class="post-list-item-category-icon">
                    {% include "./post_type.html" with { post : post } %}
                </div>
                <div class="post-list-item-header-icon">
                    {% include '../icons/map_pin.html' %}
                    <span>{{ post.group.name }}</span>
                </div>
            </div>
            <div class="post-list-item-header-right">
                <span class="text-lighten">{{ post.date | mreldate }}</span>
                {% if post.category === 'offer'  %}
                    <button class="btn-offer">{{ postAction|default('Reply') }}</button>
                {% elseif post.category === 'lend' %}
                    <button class="btn-lend">{{ postAction|default('Reply') }}</button>
                {% elseif post.category === 'borrow' %}
                    <button class="btn-borrow">{{ postAction|default('Reply') }}</button>
                {% elseif post.category === 'wanted' %}
                    <button class="btn-wanted">{{ postAction|default('Reply') }}</button>
                {% endif %}
            </div>
        </div>
        <div class="post-list-item-content-description">
            <h4><a href="{{ path.posts_detail }}{{ post.post_id }}">{{ post.subject }}</a></h4>
            <p class="paragraph-small">{{ post.description|sanitizeHtml|raw }}</p>
        </div>
    </div>
</div>
