{# Note: This file is provided by the fc3_common_assets  package #}
<div class="post-grid-item" style="padding: 5px; min-height: 615px; width: 100% !important;" >
    <div class="post-grid-item-inner">
        <div class="post-grid-item-header">
            <div class="post-grid-item-header-left">
                <div class="post-grid-item-category-icon">
                    {% include "./post_type.html" with { post : post } %}
                </div>
            </div>
            <div class="post-grid-item-header-right">
                <div class="post-grid-item-header-icon" style="width: 150px;" >
                    <i class="fa fa-map-pin"></i>
                    <span alt="{{post.group.name}}" title="{{post.group.name}}" v-html="$options.filters.truncate(String('{{post.group.name|e('js')}}'), 20)" ></span>
                </div>
            </div>

        </div>

        <div class="post-grid-item-photo" style=" width: 100%; height: 200px; background-size: cover; background-position: center center; background-repeat: no-repeat; background-image: url({{post.image}});" ></div>

        <div class="post-grid-item-content">
            <a href="{{path.posts_detail}}{{post.id}}" title="{{post.subject|sanitizeHtml|raw}}" alt="{{post.subject|sanitizeHtml|raw}}" >
                <h4 style="font-size: 20px; border: none;">{{post.subject|sanitizeHtml|raw}}</h4>
            </a>
        </div>
        <hr/>
        <div class="post-grid-item-addinfo row">
            <ul class="accordion" data-accordion data-allow-all-closed="true">
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title" style="text-align: center; font-size: 16px; color: #34b233;">{{ t('Details') }}</a>
                    <div class="accordion-content" data-tab-content>
                        <div class="row" style="font-size:12px;">
                            {{ t('Crossroads') }}: <span><i class="fa fa-map-signs"></i> {{ post.location|title }}</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <hr/>
        <div class="post-grid-item-footer">
            <div class="post-grid-item-header-left">
                <span class="text-lighten">{{ post.date | mreldate }}</span>
            </div>
            {% if me && me.id !== post.id %}
                <div class="post-grid-item-header-right">
                    <fc-messages-detail-input topic-type="post" topic-id="{{ post.id }}"
                      custom-trigger='<button class="btn-{{ post.type.name|lower }}">{{ t("Reply") }}</button>'
                    >
                      <p><strong>{{ t('New Message Re') }}:</strong> {{ post.subject }}</p>
                    </fc-messages-detail-input>
                </div>
            {% endif %}
        </div>
    </div>
</div>
