{# Note: This file is provided by the fc3_common_assets  package #}
<div class="row post-detail">
  <div class="post-list-item">
    <div class="row">
      <div class="columns medium-8">
        <div class="post-list-item-content">
          <div class="post-list-item-content-header">
            <div class="columns medium-12">
              <div class="row">
                <div class="post-list-item-header-left">
                  <div class="post-list-item-category-icon">
                    <a href="{{ path.home_myreplies }}" class="btn-offer">Reply</a>
                  </div>
                  <div class="post-list-item-category-icon">
                    {# TODO: this logic should be in a partial, i think #}
                    {% if post.type.name === 'OFFER'  %}
                      {% include '../icons/chevron.html' with {className:'icon-chevron-offer'} only %}
                      <span class="text-offer">Offer</span>
                    {% elseif post.type.name === 'LEND' %}
                      {% include '../icons/chevron.html' with {className:'icon-chevron-lend'} only %}
                      <span class="text-lend">Lend</span>
                    {% elseif post.type.name === 'BORROW' %}
                      {% include '../icons/chevron.html' with {className:'icon-chevron-borrow'} only %}
                      <span class="text-borrow">Borrow</span>
                    {% elseif post.type.name === 'WANTED' %}
                      {% include '../icons/chevron.html' with {className:'icon-chevron-wanted'} only %}
                      <span class="text-wanted">Wanted</span>
                    {% endif %}
                  </div>
                </div>
                <div class="post-list-item-header-right">
                  {# TODO add share and report button #}
                </div>
              </div>
              <div class="clearfix" style="margin-top: 10px;"></div>
              <div class="row">
                <h4 class="section-title">{{post.subject}}</h4>

                <ul class="post-items">
                  <li>{{ post.location }}</li> {# TODO eventually we'll need to include the region/country when available #}
                  <li class="text-lighten">{{ post.date|mreldate|capitalize }}</li>
                  <li>{{post.date|mdate('MM/DD/YYYY')}}</li>
                  <li>#{{post.id}}</li>
                </ul>
              </div>
            </div>
          </div>
          <ul class="post-items">
            <li><span>{{ post.group.name }}</span></li>
            <li><div>{{ post.user.username|upper }}</div></li>
            <li>
              {% for tag in post.tags %}
                {# TODO where ought this link go? #}
                <a>{{tag.name}}</a>{% if !loop.last %}, {% endif %}
              {% endfor %}
            </li>
          </ul>
          <div class="post-list-item-content-description align-left">
            <div class="container">
              <p>{{ post.description|raw }}</p>
            </div>
            <br/>
            <div class="container">
              <a href="{{ path.home_myreplies }}" class="btn-offer">Reply</a>
            </div>
          </div>
        </div>
      </div>

      <div class="columns medium-4">
        {% if post.image && post.thumb %}
        <div class="row">
          <div class="post-list-item-photo">
            <img src="{{post.image}}">
          </div>
        </div>
        <div class="row text-center">
          <fc-modal type="custom" custom-trigger='<a @click.prevent="">View image full size</a>'>
            <img src="{{ post.image }}" />
          </fc-modal>
          
          {#TODO: should popup full image .  should also provide carousel of images if there are multiple #}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
