{# i think this is no longer in use #}
{% if post.type.name === 'OFFER'  %}
	{% include '../icons/chevron.html' with {className:'icon-chevron-offer'} only %}
	<span class="text-offer">{{ t('Offer') }}</span>
{% elseif post.type.name === 'LEND' %}
	{% include '../icons/chevron.html' with {className:'icon-chevron-lend'} only %}
	<span class="text-lend">{{ t('Lend') }}</span>
{% elseif post.type.name === 'BORROW' %}
	{% include '../icons/chevron.html' with {className:'icon-chevron-borrow'} only %}
	<span class="text-borrow">{{ t('Borrow') }}</span>
{% elseif post.type.name === 'WANTED' %}
	{% include '../icons/chevron.html' with {className:'icon-chevron-wanted'} only %}
	<span class="text-wanted">{{ t('Wanted') }}</span>
{% endif %}