{# Note: This file is provided by the fc3_common_assets  package #}
<div class="post-grid-item" style="padding: 5px;" >
    <div class="post-grid-item-inner">
        <div class="post-grid-item-header">
            <div class="post-grid-item-header-left">
                <div class="post-grid-item-category-icon">
                    {% include "./post_type.html" with { post : post } %}
                </div>
            </div>
            <div class="post-grid-item-header-right">
                <div class="post-grid-item-header-icon">
                    <span>{{post.group.name}}</span>
                    {% include '../icons/map_pin.html' %}
                    <span>{{post.location|title }}</span>
                </div>
            </div>

        </div>
        <div class="post-grid-item-photo">
            {% if post.image %}
                <img style="width: 100%; height: auto;" src="{{post.image}}"/>
            {%else%}
                {% include "../icons/logo.html" %}
            {% endif %}

        </div>
        <div class="post-grid-item-content">
            <a href="{{path.posts_detail}}{{post.id}}">
                <h4>{{ post.subject|sanitizeHtml|raw }}</h4>
            </a>
        </div>
        <div class="post-grid-item-footer">
            <div class="post-grid-item-header-left">
                <span class="text-lighten">{{ post.date | mreldate }}</span>
            </div>
            {% if me && me.id !== post.id %}
                <div class="post-grid-item-header-right">
                    <fc-messages-detail-input topic-type="post" topic-id="{{ post.id }}"
                      custom-trigger='<button class="btn-{{ post.type.name|lower }}">Reply</button>'
                    >
                      <p><strong>New Message Re:</strong> {{ post.subject }}</p>
                    </fc-messages-detail-input>
                </div>
            {% endif %}
        </div>
    </div>
</div>
