{# Note: This file is provided by the fc3_common_assets  package #}
this is not even used any more now that we have the Vue post item components. TODO: delete this.

<div class="post-list-item">
    <div class="post-list-item-photo">
        {% if post.thumb %}
            <img width=128 src="{{post.thumb}}">
        {%else%}
            <fc-icon name="logo"></fc-icon>
        {% endif %}
    </div>
    <div class="post-list-item-content">
        {% if showNewTag %}
            <div class="callout success text-center">NEW!</div>
        {% endif %}
        <div class="post-list-item-content-header">
            <div class="post-list-item-header-left">
                <div class="post-list-item-category-icon">
                    {% include "./post_type.html" with { post : post } %}
                </div>
                <div class="post-list-item-header-icon">
                    {% include '../icons/map_pin.html' %}
                    <span>{{ post.group.name }}</span>
                </div>
            </div>
            {% if me && me.id !== post.id %}
                <div class="post-list-item-header-right">
                    <span class="text-lighten">{{ post.date | mreldate }}</span>
                    <fc-messages-detail-input topic-type="post" topic-id="{{ post.id }}"
                      custom-trigger='<button class="btn-{{ post.type.name|lower }}">Reply</button>'
                    >
                      <p><strong>New Message Re:</strong> {{ post.subject }}</p>
                    </fc-messages-detail-input>
                </div>
            {% endif %}
        </div>
        <div class="post-list-item-content-description">
            <h4><a href="{{ path.posts_detail }}{{ post.id }}">{{ post.subject }}</a></h4>
            <p >{{ post.description|sanitizeHtml|raw }}</p>
        </div>
    </div>
</div>
