{# Note: This file is provided by the fc3_common_assets  package #}

<input type="hidden" name="{{name}}" value="{{value}}"/>

{% for postType in postTypes %}
    {% set slug = postType.name.toLowerCase() %}
    {% set isActive = postType.value == value %}
    <button data-value="{{postType.value}}" data-post-typebutton class="{% if isActive %}active{% endif %}">
        <div class="post-list-item-category-icon icon-container">
            {% include '../icons/chevron.html' with { className: 'icon-chevron-' + slug } only %}
            <span class="text-{{slug}}">{{ t(postType.name) }}</span>
        </div>
    </button>
{% endfor %}
