{# Note: This file is provided by the fc3_common_assets  package #}
<div class="row post-detail">
  <div class="row">
    <h4 class="section-title text-center">{{post.subject}}</h4>
  </div>
  <div class="post-list-item">
    <div class="row">
      <div class="columns medium-8">
        <div class="post-list-item-content">
          <div class="post-list-item-content-header">
            <div class="columns medium-12">
              <div class="row">
                <div class="post-list-item-header-left">
                  <div class="post-list-item-category-icon">
                    {% include "./post_type.html" with { post : post } %}
                  </div>
                </div>
                <div class="post-list-item-header-right">
                  {# TODO add share and report button #}
                </div>
              </div>
              <div class="clearfix" style="margin-top: 10px;"></div>
              <div class="row">
                <ul class="post-items">
                  {% set datetimeOpts = { time: post.time, timezone: post.group.timezone }%}
                  <li>#{{post.id}}</li>
                  <li>{{ post.location }}</li> {# TODO eventually we'll need to include the region/country when available #}
                  <li>{{ post.date|mreldate(datetimeOpts)|capitalize }} ( {{ post.date|mdate(datetimeOpts, 'ddd, MM/DD/YYYY hh:mm a')}} )</li>
                  <br/>
                  <li>
                    <a href="{{path.groups_main}}{{post.group.uniqueName}}">
                      <icon class="fa fa-home"></span>
                      <span>{{ post.group.uniqueName }}</span>
                    </a>
                  </li>
                  <li>
                    <a href="{{path.user}}{{post.user.username}}">
                      <icon class="fa fa-user"></span>
                      <span>{{ post.user.username|upper }}</span>
                    </a>
                  </li>
                  <li>
                    {% for tag in post.tags %}
                      {# TODO where ought this link go? #}
                      {% set tag.url = path.home_dashboard + '?tags=' + tag.name %}
                      <a href="{{tag.url}}" >{{tag.name}}</a>{% if !loop.last %}, {% endif %}
                    {% endfor %}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="post-list-item-content-description align-left">
            <div class="container">
              <p>{{ post.description|raw }}</p>
            </div>
            <br/>
            <div class="container">
            {% if session %}
              {% if session.id === post.user.id %}
                  <a href="/home/edit-post/{{post.id}}" class="btn-action">Edit</a>
              {% else %}
                  <a href="{{ path.home_myreplies }}" class="btn-offer">Reply</a>
              {% endif %}
            {% else %}
              <fc-modal id="login" custom-trigger="<a>Login to reply to this post</a>">
                <fc-login></fc-login>
              </fc-modal>
            {% endif %}
            </div>
          </div>
        </div>
      </div>

      <div class="columns medium-4">
          {% if post.images %}
            {# Use carousel only if multiple images #}
            {% if post.images.length > 1 %}
              {% include "./post_images_carousel.html" with { images: post.images } %}
              <div class="row text-center">
                <fc-modal type="custom" custom-trigger='<a @click.prevent="">View images full size</a>'>
                  {% include "./post_images_carousel.html" with { images: post.images, modal: true } %}
                </fc-modal>
              </div>
            {% else %}
              <div class="row">
                <div class="post-list-item-photo">
                  <img src="{{ post.images[0] }}">
                </div>
              </div>
              <div class="row text-center">
                <fc-modal type="custom" custom-trigger='<a @click.prevent="">View image full size</a>'>
                  <img src="{{ post.images[0] }}" />
                </fc-modal>
              </div>
            {% endif %}
          {% endif %}
      </div>
    </div>
  </div>
</div>
