{# Note: This file is provided by the fc3_common_assets package TODO: but it probably shouldn't be.  #}
<div class="post-detail-item">
	<div class="row" >
		<div class="columns medium-5 medium-push-7 large-push-8 large-4">
			<div class="post-detail-item-category-icon hide-for-medium hide-for-large">
				<fc-icon name="chevron" class="icon-chevron-{{ post.type.name|lower }}"></fc-icon>
				<span class="text-{{ post.type.name|lower }}">{{ t(post.type.name) }}</span>
			</div>
			<h4 class="section-title hide-for-medium hide-for-large">
				{{post.subject}}
			</h4>
			{% if post.images %}
                {# Use carousel only if multiple images #}
                {% if post.images.length > 1 %}
                    {% include "./post_images_carousel.html" with { images: post.images } %}
                    <div class="row text-center">
                        <fc-modal type="custom" custom-trigger='<a @click.prevent="">{{ t("View Images Full Size") }}</a>'>
                            {% include "./post_images_carousel.html" with { images: post.images, modal: true } %}
                        </fc-modal>
                    </div>
                {% elseif post.images.length === 1 %}
                    <div class="row">
                        <div class="post-detail-item-photo">
                            <img src="{{ post.images[0] }}" style="width: 600px !important; object-fit: cover; max-height: 300px;">
                        </div>
                    </div>
                    <div class="row text-center">
                        <fc-modal type="custom" custom-trigger='<a @click.prevent="">{{ t("View Image Full Size") }}</a>'>
                            <img src="{{ post.images[0] }}" style="width: 600px !important;" />
                        </fc-modal>
                    </div>
			    {% endif %}
			{% endif %}
		</div>
		<div class="columns medium-7 medium-pull-5 large-pull-4 large-8">
			<div class="row">
				<div class="columns small-6 left">
					<div class="post-detail-item-category-icon hide-for-small-only">
						<fc-icon name="chevron" class="icon-chevron-{{ post.type.name|lower }}"></fc-icon>
						<span class="text-{{ post.type.name|lower }}">{{ t(post.type.name) }}</span>
					</div>
					{% if post.share && !post.share.returnDate %}
						{% if post|lendOverdue %}
							<p class="callout warning">
							{{ t('Item Overdue!') }}{% if post.share.dueDate %} {{ t('It was due on') }} {{ post.share.dueDate|formatDate('M-D-YYYY') }}.
						{% endif %}
						{% if me.id === post.user.id %}<a href="/home/my-replies?type=post&id={{post.id}}">{{ t('Message your friend') }}</a>
						{% endif %}
					</p>
					{% else %}
					<p class="callout success">
						{% if me.id === post.user.id %}
						On Loan!
						{% elseif me.id === post.share.borrowerId %}
						BORROWED
						{% endif %}

						{% if post.share.dueDate %}{{ t('Due back on') }} {{ post.share.dueDate|formatDate('M-D-YYYY') }}.{% endif %}</span>
					</p>
					{% endif %}
					{% endif %}
				</div>
			</div>
			<div class="row hide-for-small-only" style="margin-left: 10px;" >
				<h4 class="section-title left">
					{{post.subject}}
				</h4>
			</div>
			<div class="post-detail-item-content">
				<div class="post-detail-item-content-header" style="border: none;" >
					<div class="columns medium-12">

						<div class="clearfix"  style="margin-top: 10px;"></div>
						<div class="row">
							<ul class="post-items text-{{ post.type.name|lower }}" style="margin-left: 0px; " >
								{% set datetimeOpts = { lang: userLanguage, time: post.time, timezone: post.group.timezone } %}
								<li><span><i class="fa fa-map-signs"></i> {{post.location|title }}</span></li>
								<li><span>{{ post.date|mdate(datetimeOpts, 'LL') }}</span></li>
							</ul>
							<div class="row" style="margin: 0px;" >
								<hr/>
							</div>
							<ul class="post-items" style="margin-left: 0px;" >
								{% if post.group %}
								<li>
									<a class="town-link" href="{{path.groups_main}}{{post.group.uniqueName}}">
										<fc-icon name="towns" style="cursor: default; display: inline; position: relative; top: 3px;" width="20"></fc-icon>
										<span>{{ post.group.name|upper }}</span>
									</a>
								</li>
								{% else %}
								<li>
									<a class="town-link" href="/home/dashboard/friends">
										<fc-icon name="friend_circle" style="cursor: default; display: inline; position: relative; top: 3px;" width="20"></fc-icon>
										<span>FRIENDS CIRCLE</span>
									</a>
								</li>
								{% endif %}
								<li class="user-text">
									<a href="{{path.user}}{{post.user.username}}">
										<img src="{{global.imagesURL}}/user/{{post.userId}}/thumb" class="fc-avatar" style="padding: 1px; height: 20px; width: 20px;"/>
										<span style="position: relative; top: 2px;" >{{ post.user.username|upper }}</span>
									</a>
								</li>
								{% if post.tags.length %}
								<li class="tag-text">
									<fc-icon name="tag" style="cursor: default; display: inline; position: relative;"></fc-icon> <span class="tag-label">{{ t('TAGS') }}</span>&nbsp;
									{% for tag in post.tags %}
									{% set tag.url = path.home_dashboard + '?tags=' + tag.name %}
									<a href="{{tag.url}}">{{ t(tag.name) }}</a>{% if !loop.last %}, {% endif %}
									{% endfor %}
								</li>
								{% endif %}
								{% if post.static && post.static.lendDuration %}
								<li>
									<strong>{{ t('Lend Duration') }}</strong>
									<span>{{ post.static.lendDuration }} {{ t('Days') }}</span>
								</li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
				<div class="post-detail-item-content-description align-left">
					<div class="container"  style="font-style: normal;">
						<p>{{ post.description|sanitizeHtml|raw }}</p>
					</div>
					<br />
					<hr/>
					<div class="container" style="margin-top: 40px; position: relative;vertical-align: center;">
						{% if session %}
						{% if session.id === post.user.id %}
                            <div style="display: flex; width:5rem;">
                                <span style="flex:1;"><a href="/home/edit-post/{{post.id}}" class="btn-action" style="float: left; margin-right: 10px; line-height: 1; height: 3.25em;">{{ t('Edit') }}</a></span>
                            {% elseif post.blocked %}
                                {# show nothing if the poster has blocked me #}
                            {% elseif post.canReply %}
                                <div style="display: flex; width:17rem;">
                                    <span style="flex:1;"><fc-messages-detail-input v-cloak subject="{{ post.subject|sanitizeHtml|raw }}" topic-type="post" topic-id={{ post.id }} custom-trigger='<button class="btn-{{ post.type.name|lower }}" style="float: left; margin-right: 10px;">{{ postAction|default(t("Reply")) }}</button>'>
                                        <p><strong>{{ t('New Message Re:') }}</strong> {{ post.subject|sanitizeHtml|raw }}</p>
                                    </fc-messages-detail-input></span>
                                    <span style="flex:1;"><fc-messages-detail-input v-cloak default-body="{{ t('I am reporting post') }} #{{ post.id }}" topic-type="group" topic-id="{{ post.group.id || 0 }}" custom-trigger='<button class="btn btn-action">{{ t("Report") }}</button>'>
                                    <p><strong>{{ t('Report this post to a Moderator') }}:</strong> {{ post.subject|sanitizeHtml|raw }}</p>
                                        </fc-messages-detail-input></span>


                            {% else %}
                                    <div style="display: flex; width:40rem;">
                                        <span style="flex:3;">
                                <a href="{{path.groups_main}}{{post.group.uniqueName}}" style="float: left; margin-right: 10px;" >
                                    Join the {{ post.group.name }} group</a> to reply to this post.</span>  {# TODO: need interpolation for t() func #}
                            {% endif %}
						{% else %}
                        <div style="width:20rem; display:flex;">
							<fc-modal id="login" namespace="fc-login-popup" custom-trigger="<a style='position: relative; top: 6px;'>{{ t('Log in to reply to this post') }}</a>" style="flex:1; float: right;">
								<fc-login unique-name="popup-form"></fc-login>
							</fc-modal>
						{% endif %}
                            <div class="btn-action fab text-center" style="flex:0; float: left; padding-right: 5px; padding-left:5px; line-height: 1; height: 3.25em; width: 7em;" >
                                <span class="text">{{ t('Share') }}</span>
                                <social-sharing :url="`${$root.currentUrl}?utm_source=social&utm_medium=post-detail`" title="Freecycle: {{post.subject|e('js')}}" description="{{post.description|sanitizeHtml|raw|striptags|e('js')}}" hashtags="freecycle,freecycle3" inline-template>
                                    <div>
                                        <network network="facebook"> <div class="option fb"> <i class="fa fa-facebook"></i> </div> </network>
                                        <network network="twitter"> <div class="option twitter"> <i class="fa fa-twitter"></i> </div> </network>
                                    </div>
                                </social-sharing>
                                <div class="option delete"><i class="fa fa-times"></i></div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
