
{% set postTypes = postTypes %}
{% for postType in postTypes %}
    {% set postTypeLower = postType.toLowerCase() %}
    <button data-post-typebutton>
        <div class="post-list-item-category-icon icon-container">
            {% include '../icons/chevron.html' with {className:'icon-chevron-' + postTypeLower} only %}
            <span class="text-offer">{{postType}}</span>
        </div>
    </button>
{% endfor %}

<script>
    $('[data-post-buttongroup]').on('click', function(e) {
        e.preventDefault();
        $(this).addClass('active');
    });
</script>