{# Note: This file is provided by the fc3_common_assets  package #}

{% set postTypes = postTypes %}

{% for postType in postTypes %}
    {% set postTypeLower = postType.toLowerCase() %}
    {% set isActive = postType.toLowerCase() == selected.toLowerCase() ? true : false %}
    <button data-post-typebutton class="{% if isActive %}active{% endif %}" {% if disabled %} disabled {% endif %}>
        <div class="post-list-item-category-icon icon-container">
            {% include '../icons/chevron.html' with {className:'icon-chevron-' + postTypeLower} only %}
            <span class="text-offer">{{postType}}</span>
        </div>
    </button>
{% endfor %}