{# Note: This file is provided by the fc3_common_assets  package #}
<div class="post-grid-item" style="padding: 5px;" >
    <div class="post-grid-item-inner">
        <div class="post-grid-item-header">
            <div class="post-grid-item-header-left">
                <div class="post-grid-item-category-icon">
                    {% include "./post_type.html" with { post : post } %}
                </div>
            </div>
            <div class="post-grid-item-header-right">
                <div class="post-grid-item-header-icon">
                    <span>{{post.group.name}}</span>
                    {% include '../icons/map_pin.html' %}
                    <span>{{post.location|title }}</span>
                </div>
            </div>

        </div>
        <div class="post-grid-item-photo">
            {% if post.image %}
                <img style="width: 100%; height: auto;" src="{{post.image}}"/>
            {%else%}
                {% include "../icons/logo.html" %}
            {% endif %}
            
        </div>
        <div class="post-grid-item-content">
            <h4>{{ post.subject|raw }}</h4>
        </div>
        <div class="post-grid-item-footer">
            <div class="post-grid-item-header-left">
                <span class="text-lighten">{{ post.date | mreldate }}</span>
            </div>
            <div class="post-grid-item-header-right"> <!--  TODO: not sure how to make this real.  -->
                {% if post.type.name === 'offer'  %}
                <button class="btn-offer">{{ postAction|default('Reply') }}</button>
                {% elseif post.type.name === 'lend' %}
                <button class="btn-lend">{{ postAction|default('Reply') }}</button>
                {% elseif post.type.name === 'borrow' %}
                <button class="btn-borrow">{{ postAction|default('Reply') }}</button>
                {% elseif post.type.name === 'wanted' %}
                <button class="btn-wanted">{{ postAction|default('Reply') }}</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
