{% set headerText = "Recent items near you" %}

<div class="recent-list">
    <div class="recent-list-inner row">
        <!-- Header row and controls -->
        <h3 class="section-title text-center">{{ headerText|upper }}</h3>
        <!-- Items list -->
        <div class="recent-list-items">
            <div class="recent-grid-view">
                <div class="grid-sizer"></div>
                <div class="gutter-sizer"></div>
                {% for post in posts %}
                {% include './post_grid_item.html' with post %}
                {% endfor %}
            </div>
        </div>
        <div class="recent-list-load-more text-center" style="clear: both; position: relative; top: 10px;" >
            <button class="btn-action">Load More</button>
        </div>
    </div>
</div>
