{% set headerText = "Selected items" %}
{% set nearMeText = "Show items near me" %}

<div class="recent-list">
    <div class="recent-list-inner row">
        <!-- Header row and controls -->
        <h3 class="section-title-small">
          {{ headerText|upper }}
          {% if !data.hasLocation %}
            <!-- | <a id="get-geolocation" href="#">{{ nearMeText|upper }}</a> {# see also src/assets/js/modules/home.js #}  -->
          {% endif %}
        </h3>
        <!-- Items list -->
        <div class="grid-x">
            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>
            {% for post in posts %}
            <div class="cell">
                {% include './post_grid_item.html' with post %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
