<div class="recent-list">
    <div class="recent-list-inner row">
        <!-- Header row and controls -->
        <h3 class="section-title-small">
          Recent items
          {% if !data.hasLocation %}
            | <a id="get-geolocation" href="#">Show items near me</a> {# see also src/assets/js/modules/home.js #}
          {% endif %}
        </h3>
        <!-- Items list -->
        <div class="recent-list-items">
            <div class="recent-grid-view">
                <div class="grid-sizer"></div>
                <div class="gutter-sizer"></div>
                {% for post in posts %}
                {% include './post_grid_item.html' with post %}
                {% endfor %}
            </div>
            <div class="recent-list-load-more">
                <button class="btn-action">Load More</button>
            </div>
        </div>
    </div>
</div>
