{# Note: This file is provided by the fc3_common_assets  package #}
{#NOTE: setting links to pass to the secondary nav partial.#}
{% set  links = [
  { id : "dashboard", href : "/home/dashboard", text : "Dashboard" },
  { id : "my-replies", href : "/home/my-replies", text : "My Messages" },
  { id : "my-posts", href : "/home/my-posts", text : "My Posts" },
  { id : "my-friends", href : "/home/my-friends", text : "My Friends" },
  { id : "my-groups", href : "/home/my-towns", text : "My Towns" }
]%}

<div class="title-bar" class="show-for-small" style="display: none;" data-responsive-toggle="main_nav" data-hide-for="medium">
	<button class="menu-icon" tpe="button" data-toggle="main_nav"></button>
	<div class="title-bar-title">Menu</div>
</div>

<div id="main_nav" class="horizontal_tabs">
	<ul class="tabs" id="h-example-tabs" class="dropdown-menu " data-dropdown-menu data-tab data-options="deep_linking:true">
		{% for link in links %}
			<li class="tabs-title"><a id="{{ link.id }}" href="{{ link.href }}">{{ link.text }}</a></li>
		{% endfor %}
	</ul>
</div>