<div class="row">
  <h3>Tables</h3>
  <div class="table-example">
    <table>
      <thead>
      <tr>
        <th>Local Town</th>
        <th>State</th>
        <th>Distance</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><h4>Tucson</h4></td>
        <td>AZ</td>
        <td>0 Miles</td>
      </tr>
      <tr>
        <td><h4>Marana</h4></td>
        <td>AZ</td>
        <td>15 Miles</td>
      </tr>
      <tr>
        <td><h4>Vail</h4></td>
        <td>AZ</td>
        <td>15 Miles</td>
      </tr>
      <tr>
        <td><h4>Oro Valley</h4></td>
        <td>AZ</td>
        <td>18 Miles</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
