{# Note: This file is provided by the fc3_common_assets  package #}
<div class="tag-container">
    <div class="tags-prefix-container">
        <span class="tags-icon">{% include '../icons/tag.html' %} <span>{{ t('Tags') }}:</span></span>
    </div>
    <div class="tags-input-container">
        <select class="tag-select" multiple="multiple">
            {% for tag in data.tags %}
                <option value="{{ tag.name }}">{{ t(tag.name) }}</option>
            {% endfor %}
        </select>
    </div>
</div>
