{# Note: This file is provided by the fc3_common_assets  package #}
<div class="tag-container">
    <div class="tags-prefix-container">
        <span class="tags-icon">{% include '../icons/tag.html' %} <span>Tags</span></span>
    </div>
    <div class="tags-input-container">
        <select class="tag-select" multiple="multiple">
            {% for option in data.tags %}
                <option >{{ option.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="tags-suffix-container">
        <button class="add-tag-icon-button">{% include '../icons/plus.html' %} Add Tag</button>
    </div>
</div>
