<div class="tag-container">
    <div class="tags-prefix-container">
        <span class="tags-icon">{% include '../icons/tag.html' %} <span>Tags</span></span>
    </div>
    <div class="tags-input-container">
        <select class="tag-select" multiple="multiple">
            <option value="AL">Alabama1</option>
            <option value="WY">Wyoming1</option>
            <option value="AL">Alabama2</option>
            <option value="WY">Wyoming2</option>
            <option value="AL">Alabama3</option>
            <option value="WY">Wyoming3</option>
            <option value="AL">Alabama4</option>
            <option value="WY">Wyoming5</option>
            <option value="AL">Alabama6</option>
            <option value="WY">Wyoming7</option>
            <option value="AL">Alabama8</option>
            <option value="WY">Wyoming9</option>
            <option value="AL">Alabama10</option>
            <option value="WY">Wyoming11</option>
            <option value="AL">Alabama12</option>
            <option value="WY">Wyoming13</option>
            <option value="AL">Alabama14</option>
            <option value="WY">Wyoming15</option>
            <option value="AL">Alabama16</option>
            <option value="WY">Wyoming17</option>
            <option value="AL">Alabama18</option>
            <option value="WY">Wyoming19</option>
            <option value="AL">Alabama20</option>
            <option value="WY">Wyoming21</option>
            <option value="AL">Alabama22</option>
            <option value="WY">Wyoming23</option>
            <option value="AL">Alabama24</option>
            <option value="WY">Wyoming25</option>
            <option value="AL">Alabama26</option>
            <option value="WY">Wyoming27</option>
            <option value="AL">Alabama28</option>
            <option value="WY">Wyoming29</option>
            <option value="AL">Alabama30</option>
            <option value="WY">Wyoming31</option>
            <option value="AL">Alabama32</option>
            <option value="WY">Wyoming33</option>
            <option value="AL">Alabama34</option>
            <option value="WY">Wyoming35</option>
            <option value="AL">Alabama36</option>
            <option value="WY">Wyoming37</option>
        </select>
    </div>
    <div class="tags-suffix-container">
        <button class="add-tag-icon-button">{% include '../icons/plus.html' %} Add Tag</button>
    </div>
</div>
