{# Note: This file is provided by the fc3_common_assets  package #}
<div class="row in-page-search">
  <form class="column large-4 large-offset-4" @submit.prevent="searchTowns" data-running="false">
    <div class="input-with-icon">
      <input class="input-round input-with-icon" type="search" v-model.lazy="$root.towns_searchQuery" placeholder="{{label}}"/>
      <span class="icon search-icon">
		<button>
			{% include '../icons/search.html' %}
		</button>
      </span>
    </div>
    <div class="form-overlay">
        <span class="content medium">
          <fc-spinner size="medium" message="Loading..." ></fc-spinner>
        </span>
    </div>
  </form>
</div>