{% extends '../layout/layout.html' %}

{% block more %}
{% endblock %}

{% block header %}
    {% include '../partials/header.html' with {loggedIn:true} %}
{% endblock %}

{% block content %}

{% if data.deleted %}
    <p class="callout success">Page successfully deleted</p>
{% endif %}
{% for error in errors %}
    <p class="callout alert">{{ error.message }}</p>
{% endfor %}

<div class="admin-pages container">
    <div class="row text-center">
        <h2 class="page-title">Static Pages Administration</h2>
    </div>
    <div class="row bg-white">
        <div class="columns medium-12">
            <form method="post">
                <input type="hidden" name="crumb" value="{{crumb}}" />

                <div class="row text-center container">
                    <p class="subtitle">Select an existing Page to edit, or create a new one.</p>
                </div>
                <div class="row">
                    <div class="columns medium-6 small-12">
                        <label for="pageselect">Existing Pages:</label>
                        <select title="page" name="pageselect" id="pageselect">
                            <option value=""></option>
                            {% for pageItem in data.allPages %}
                                {% if pageItem.path %}
                                    <option value="{{ pageItem.id }}" {% if pageItem.id === data.page.id %}selected{% endif %}>
                                        {{ pageItem.title }} (/pages/{{ pageItem.path }})
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="columns medium-6">
                        <div class="row">
                            <div class="columns medium-6">Author: {{ data.page.author.username }}</div>
                            <div class="columns medium-6">Created: {{ data.page.created|formatDate('ddd, MM/DD/YYYY hh:mm a') }}</div>
                        </div>
                        <div class="row">
                            <div class="columns medium-12">
                              Date last edited: {{ data.page.lastModified|relativeDate }}
                              {% if data.page.lastEditor %}by {{ data.page.lastEditor.username }}</div>{% endif %}
                        </div>
                    </div>
                </div>
                <div class="clear"><br></div>
                <div class="row">
                    <div class="columns medium-6 small-12">
                        <label for="title">Title:</label>
                        <input id="title" type="text" size=32 name="title" value="{{ data.page.title }}" placeholder="Title">
                    </div>
                    <div class="columns medium-6 small-12">
                        <label for="path">Path: <code>/pages/</code> </label>
                        <input id="path" type="text" size=32 name="path" value="{{ data.page.path }}" placeholder="URL of your page, after '/pages/'">
                    </div>
                </div>
                <div class="row">
                    <div class="columns medium-12">
                        <fc-editor name="content" value="{{ data.page.content }}" placeholder="Enter page content here" :config="{
                            toolbar: [
                                { name: 'document', items: [ 'Source', '-', 'Save', 'NewPage', 'Preview', 'Print', '-', 'Templates' ] },
                                { name: 'clipboard', items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
                                { name: 'editing', items: [ 'Find', 'Replace', '-', 'SelectAll', '-', 'Scayt' ] },
                                { name: 'forms', items: [ 'Form', 'Checkbox', 'Radio', 'TextField', 'Textarea', 'Select', 'Button', 'ImageButton', 'HiddenField' ] },
                                '/',
                                { name: 'basicstyles', items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'CopyFormatting', 'RemoveFormat' ] },
                                { name: 'paragraph', items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl', 'Language' ] },
                                { name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
                                { name: 'insert', items: [ 'Image', 'Flash', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak', 'Iframe' ] },
                                '/',
                                { name: 'styles', items: [ 'Styles', 'Format', 'Font', 'FontSize' ] },
                                { name: 'colors', items: [ 'TextColor', 'BGColor' ] },
                                { name: 'tools', items: [ 'Maximize', 'ShowBlocks' ] },
                                { name: 'about', items: [ 'About' ] }
                            ]
                        }"></fc-editor>
                    </div>
                    <div class="columns medium-12 text-center">
                        <input type="checkbox" name="published" id="published" value="1" {% if data.page.published %}checked{% endif %}></input><label for="published">Published</label>
                    </div>
                    <div class="columns medium-12">
                        <div class="form-group text-center">
                            <button type="submit" role="submit" class="btn-default btn-sm">Save</button>
                            <button type="submit" role="preview" class="btn-default btn-sm" formaction="/admin/pages/preview{% if data.page.id %}/{{data.page.id}}{% endif %}" formtarget="_blank">Preview</button>
                            <button type="submit" name="delete" value="delete" role="submit" class="btn-offer btn-sm" onclick="return confirm('Are you sure?')">Delete</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}


{% include '../partials/footer.html' %}
