{% extends '../layout/layout.html' %}

{% block header %}
{% include '../partials/header.html' %}
{% endblock %}


{% block content %}
{% parent %}
<div class="horizontal_tabs">
  <!--  tabs-content  -->
  <div class="tabs-content" data-tabs-content="h-example-tabs">
    <div class="tabs-panel" id="dashboard">
    </div>
    <div class="tabs-panel" id="myreplies">
    </div>
    <div class="tabs-panel" id="myposts">
    </div>
    <div class="tabs-panel" id="myfriends"></div>
    <div class="tabs-panel is-active" id="mygroups">
      {% include '../partials/my_groups_page.html'%}
    </div>
  </div>
  {% include '../partials/in_body_banner_row.html'%}
</div>


{% endblock %}
