{% extends '../layout/layout.html' %}

{% block content %}
{% parent %}
{% if errors %}
  {% for error in errors %}
    <p class="callout alert">{{error.message}}</p>
  {% endfor %}
{% endif %}
<div class="horizontal_tabs">
  <!--  tabs-content  -->
  <div class="tabs-content" data-tabs-content="h-example-tabs">
    <div class="tabs-panel is-active" id="dashboard">
    </div>
    <div class="tabs-panel" id="myreplies">
    </div>
    <div class="tabs-panel is-active" id="myposts">
      <div class="row">
        {% include '../partials/item_list.html'%}
      </div>
    </div>
    <div class="tabs-panel" id="myfriends">
    </div>
    <div class="tabs-panel" id="mygroups">
    </div>
  </div>
  {% include '../partials/in_body_banner_row.html'%}
</div>


{% endblock %}
