{% extends '../layout/layout.html' %}

{% block header %}
{% include '../partials/header.html'%}
{% endblock %}


{% block content %}
<div class="horizontal_tabs">
  <!--  tabs  -->
  <ul class="tabs" id="h-example-tabs" data-tab data-options="deep_linking:true">
    <li class="tabs-title"><a href="/desktop-dash">Dashboard</a></li>
    <li class="tabs-title is-active"><a href="/home/my-replies" aria-selected="true">My Replies</a></li>
    <li class="tabs-title"><a href="/home/my-posts">My Posts</a></li>
    <li class="tabs-title"><a href="/home/my-friends">My Friends</a></li>
    <li class="tabs-title"><a href="/home/my-groups">My Groups</a></li>
  </ul>

  <!--  tabs-content  -->
  <div class="tabs-content" data-tabs-content="h-example-tabs">
    <div class="tabs-panel" id="dashboard">

    </div>
    <div class="tabs-panel is-active" id="myreplies">
      {% for messageSet in messageSets %}
      {% include '../partials/message_reply_list.html' with messageSet %}
      {% endfor %}
    </div>
    <div class="tabs-panel" id="myposts">
    </div>
    <div class="tabs-panel " id="myfriends">
    </div>
    <div class="tabs-panel" id="mygroups">
    </div>
  </div>
  {% include '../partials/in_body_banner_row.html'%}
</div>


{% endblock %}