{% extends '../layout/layout.html' %}

{% block content %}
  {% parent %}

    {# We programmatically add errors here via the image uploader component #}
    <div class="form-errors-container"></div>
    <div class="edit_post row">
        <div class="row">
            <h2 class="post-header-title text-center columns large-12">{{ data.title }}</h2>
        </div>
        <hr class="section-divider" />
        <div class="row">
            <form method="POST" class="columns large-10 large-offset-1 image-upload-form" id="post_edit" ref="post_edit_form" enctype="multipart/form-data">
                <input type="hidden" name="crumb" value="{{crumb}}"/>
                {% if data.post.town.name %}
                    <div class="form-group">
                        <label>Town</label>
                        <div class="input-with-icon">
                            {{data.post.town.name}}
                            <span class="iconcenter">
                                {% include '../icons/map_pin.html' %}
                            </span>
                        </div>
                    </div>
                {% endif %}
                <div class="form-group">
                    <div class="post-type-icon-wrapper">
                        <span>
                            {% include '../icons/chevron.html' with { className: 'icon-chevron-' + data.post.type.name.toLowerCase() } only %}
                            <span class="text-offer">{{data.post.type.name}}</span>
                        </span>
                    </div>
                    <label>Post title</label>
                    <input name="subject" value="{{data.post.subject}}" type="text" />
                </div>
                {% if data.post.type.typeId === 1 || data.post.type.typeId === 9 %} {# allow image uploads for offers and lends #}
                    <div class="form-group">
                        <label>Upload Pictures</label>
                        {% include '../partials/image_uploader.html' with { images: data.post.images } %}
                    </div>
                {% endif %}
                <div class="form-group">
                    <label>Nearest Crossroads</label>
                    <div class="input-with-icon">
                        <input name="location" value="{{data.post.location}}" class="input-with-icon" type="search" />
                        <span class="iconcenter">
                            {% include '../icons/map_compass.html' %}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <fc-editor name="description" value="{{data.post.description}}"></fc-editor>
                </div>
                <div class="form-group">
                    <label>Tags</label>
                    <select class="select-edit-post-tags" name="tags" multiple="multiple" data-width="100%">
                      {% for tag in data.tags %}
                        {% if data.post.tags.includes(tag.id) %}
                          <option value="{{tag.id}}" selected="selected">{{tag.name}}</option>
                        {% else %}
                          <option value="{{tag.id}}">{{tag.name}}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                </div>
                {% if data.post.type.typeId === 1 || data.post.type.typeId === 3 %}
                  <div class="form-group text-center">
                    {% if data.post.type.typeId === 1 %} {# offer -> taken #}
                      <input type="checkbox" name="type" value="2" />
                      <span class="button-palette-group-title">Taken</a>
                    {% endif %}
                    {% if data.post.type.typeId === 3 %} {# wanted -> received #}
                      <input type="checkbox" name="type" value="4" />
                      <span class="button-palette-group-title">Received</a>
                    {% endif %}
                  </div>
                {% endif %}
                <div class="form-group text-center">
                    <button type="submit" role="submit" class="btn-default btn-wide">Edit Post</button>
                </div>
            </form>
        </div>
        <hr class="section-divider" />
    </div>
    {% include '../partials/in_body_banner_row.html'%}

{% endblock %}
