{#
  TODO: Post New
  - example /home/new_post/
  - make Offer Buttons Selectable, it doesn't need to be disabled since we are able to select an offer at this state.
  - update actions route to post save, do this after visual tests are complete.
  - confirm if we need to check userId ?
#}

{% extends '../layout/layout.html' %}

{#
  NOTE: we model an empty post here to get the reactivity in our form.
#}
{% set post = {
  group: {
    group_name: ""
  },
  group_id: "",
  postType: {
    post_type_name: ""
  },
  post_description: "",
  post_id: "",
  post_location: "",
  post_subject: ""
} %}

{% block content %}
  {% parent %}
    {# We programmatically add errors here via the image uploader component #}
    <div class="form-errors-container"></div>
    <div class="new_post row">
        <div class="row">
            <h2 class="post-header-title text-center columns large-12">{{ title }}</h2>
        </div>
        <hr class="section-divider" />
        <div class="row">
            <form method="POST" class="columns large-10 large-offset-1 image-upload-form" id="post_edit" ref="post_edit_form" enctype="multipart/form-data">
                <input type="hidden" name="crumb" value="{{crumb}}"/>
                <div class="form-group">
                    <label>Select type of Post</label>
                    <div class="button-bar" data-post-buttongroup>
                        {% include "../partials/post_types.html" with {
                            name: 'type',
                            value: data.post.type || 1,
                            postTypes: [
                              { name: 'Offer', value: 1 },
                              { name: 'Wanted', value: 3 },
                              { name: 'Lend', value: 9 },
                              { name: 'Borrow', value: 10 }
                            ]
                          } only
                        %}
                    </div>
                </div>
                <div class="form-group">
                    <label>Post title</label>
                    <input name="subject" value="{{data.post.subject}}" type="text" required />
                </div>
                <div class="form-group">
                    <label>Upload Pictures</label>
                    {% include '../partials/image_uploader.html'%}
                </div>
                <div class="form-group">
                    <label>Post to Local Town</label>
                    <div class="input-with-icon">
                        <select class="select-post-town" name="town" data-width="100%">
                          {% for town in data.towns %}
                            {% if data.post.town === town.id %}
                              <option value="{{town.id}}" selected="selected">{{town.name}}</option>
                            {% else %}
                              <option value="{{town.id}}" >{{town.name}}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                        <span class="iconcenter">
                            {% include '../icons/map_pin.html' %}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Nearest Crossroads</label>
                    <div class="input-with-icon">
                        <input name="location" value="{{data.post.location}}" class="input-with-icon" type="search" />
                        <span class="iconcenter">
                            {% include '../icons/map_compass.html' %}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <fc-editor name="description" value="{{data.post.description}}"></fc-editor>
                </div>
                <div class="form-group">
                    <label>Tags</label>
                    <select class="select-new-post-tags" name="tags" multiple="multiple" data-width="100%">
                      {% for tag in data.tags %}
                        {% if data.post.tags.includes(tag.id) %}
                          <option value="{{tag.id}}" selected="selected">{{tag.name}}</option>
                        {% else %}
                          <option value="{{tag.id}}">{{tag.name}}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                </div>
                <div class="form-group text-center">
                    <button type="submit" role="submit" class="btn-default btn-wide">Post Item</button>
                </div>
            </form>
        </div>
        <hr class="section-divider" />
    </div>
    {% include '../partials/in_body_banner_row.html'%}

{% endblock %}
