{#
  TODO: Post New
  - example /home/new_post/
  - make Offer Buttons Selectable, it doesn't need to be disabled since we are able to select an offer at this state.
  - update actions route to post save, do this after visual tests are complete.
  - confirm if we need to check userId ?
#}

{% extends '../layout/layout.html' %}

{#
  NOTE: we model an empty post here to get the reactivity in our form.
#}
{% set post = {
  group: {
    group_name: ""
  },
  group_id: "",
  postType: {
    post_type_name: ""
  },
  post_description: "",
  post_id: "",
  post_location: "",
  post_subject: ""
} %}

{% block content %}
  {% parent %}
    {% for error in errors %}
        <p class="callout alert">{{ error.message }}</p>
    {% endfor %}
    <div class="new_post row">
        <div class="row">
            <h2 class="post-header-title text-center columns large-12">{{ title }}</h2>
        </div>
        <hr class="section-divider" />
        <div class="row">
            <form method="POST" class="columns large-10 large-offset-1" id="post_edit" ref="post_edit_form" enctype="multipart/form-data">
                <input type="hidden" name="crumb" value="{{crumb}}"/>
                <div class="form-group">
                    <label>Select type of Post</label>
                    <div class="button-bar" data-post-buttongroup>
                        {% include "../partials/post_types.html" with {postTypes: ['Offer', 'Lend', 'Borrow', 'Wanted'], disabled: true, selected: post.postType.post_type_name} only %}
                    </div>
                </div>
                <div class="form-group">
                    <label>Post title</label>
                    <input name="subject" type="text" />
                </div>
                <div class="form-group">
                    <label>Upload Pictures</label>
                    <input name="images" type="file" multiple />
                </div>
                <div class="form-group">
                    <label>Post to Local Town</label>
                    <div class="input-with-icon">
                        <input type="text" name="group_name" />
                        <span class="iconcenter">
                            {% include '../icons/map_pin.html' %}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Nearest Crossroads</label>
                    <div class="input-with-icon">
                        <input class="input-with-icon" type="text" name="location" placeholder="{{label}}"/>
                        <span class="iconcenter">
                            {% include '../icons/map_compass.html' %}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <fc-editor name="description"></fc-editor>
                </div>
                <div class="form-group">
                    <label>Tags</label>
                    <input type="text" placeholder="..."/>
                </div>
                <div class="form-group text-center terms-conditions">
                    <input type="checkbox" /> <span class="button-palette-group-title">I AGREE TO THE </span> <a href="/"> TERMS AND CONDITIONS</a> {# TODO: update the link to terms #}
                </div>
                <div class="form-group text-center">
                    <button type="submit" role="submit" class="btn-default btn-wide">Post Item</button>
                </div>
            </form>
        </div>
        <hr class="section-divider" />
    </div>
    {% include '../partials/in_body_banner_row.html'%}

{% endblock %}
