{#
  TODO: Post New
  - example /home/new_post/
  - make Offer Buttons Selectable, it doesn't need to be disabled since we are able to select an offer at this state.
  - update actions route to post save, do this after visual tests are complete.
  - confirm if we need to check userId ?
#}

{% extends '../layout/layout.html' %}

{#
  NOTE: we model an empty post here to get the reactivity in our form.
#}
{% set post = {
  group: {
    group_name: ""
  },
  group_id: "",
  postType: {
    post_type_name: ""
  },
  post_description: "",
  post_id: "",
  post_location: "",
  post_subject: ""
} %}

{% block content %}
  {% parent %}
    {% for error in errors %}
        <p class="callout alert">{{ error.message }}</p>
    {% endfor %}
    <div class="new_post row">
        <div class="row">
            <h2 class="post-header-title text-center columns large-12">{{ title }}</h2>
        </div>
        <hr class="section-divider" />
        <div class="row">
            <form method="POST" class="columns large-10 large-offset-1" id="post_edit" ref="post_edit_form" enctype="multipart/form-data">
                <input type="hidden" name="crumb" value="{{crumb}}"/>
                <div class="form-group">
                    <label>Select type of Post</label>
                    <div class="button-bar" data-post-buttongroup>
                        {% include "../partials/post_types.html" with {
                            name: 'type',
                            value: data.post.type || 1,
                            postTypes: [
                              { name: 'Offer', value: 1 },
                              { name: 'Wanted', value: 3 },
                              { name: 'Lend', value: 9 },
                              { name: 'Borrow', value: 10 }
                            ]
                          } only
                        %}
                    </div>
                </div>
                <div class="form-group">
                    <label>Post title</label>
                    <input name="subject" value="{{data.post.subject}}" type="text" />
                </div>
                <div class="form-group">
                    <label>Upload Pictures</label>
                    <div class="dropbox">
                      <input name="images" type="file" id="images" multiple accept="image/*" class="input-file" />
                      <input name="imgdata" id="imgdata" type="hidden" />
                      <p>Drag your files here to begin upload</p>
                    </div>
                    <div class="selected-files"></div>
                    <script>
                        document.addEventListener("DOMContentLoaded", init, false);

                        function init() {
                            document.querySelector('#images').addEventListener('change', handleFileInput);
                            window.ImageUploader = {};
                            // TODO Needs to be initialized w/ files retrieved from server
                            ImageUploader.filesList = [];


                            document.querySelector("#post_edit").addEventListener("submit", function(e) {
                              e.preventDefault();
                              var formElement = document.querySelector("form");
                              var formData = new FormData(formElement);
                              var dataUrls = [];
                              var earlProms = [];
                              ImageUploader.filesList.forEach((file, index) => {

                                earlProms.push(new Promise(function(resolve, reject) {
                                  var reader = new FileReader();
                                  reader.onload = function (e) {
                                      dataUrls.push(e.target.result);
                                      resolve();
                                  }
                                  // reads the image blob into a dataurl
                                  reader.readAsDataURL(file);
                                }));

                              });

                              return Promise.all(earlProms)
                              .then(function() {

                                // NOTE input constraints aren't checked when submitting forms this way (https://developer.mozilla.org/en-US/docs/Web/API/HTMLFormElement/submit)
                                document.getElementById("imgdata").value = JSON.stringify(dataUrls);
                                formElement.submit();
                              });
                            });
                        }

                        function handleFileInput(e) {

                            var formElement = document.querySelector("form");
                            var formData = new FormData(formElement);
                            var selDiv = document.querySelector(".selected-files");
                            // Ensure form data is set correctly, regardless of upload type
                              // multiple at once; repeated uploads
                              // Not allowed to exceed 3
                            // Sync display w/ formdata

                            // TODO Sensible way to handle this case? Error messaging?
                            // TODO Add case: OR if formData.images already has 3 files
                            if(!e.target.files || !window.FileReader) {
                              return;
                            }
                            // Take the new file or files

                            var files = e.target.files;
                            var filesArr = Array.prototype.slice.call(files); // TODO Array.from?
                            // TODO Refactor
                            // Handling new files; JUST VALIDATING
                            filesArr.forEach(function(f, index) {
                                var f = files[index];
                                // TODO Add rules for expected image types
                                if(!f.type.match("image.*")) {
                                    // TODO Handle error
                                    return;
                                }
                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    var html = "<img src=\"" + e.target.result + "\">" + f.name + "<br clear=\"left\"/>";
                                    selDiv.innerHTML += html;
                                }
                                // TODO What the hell does this do?
                                reader.readAsDataURL(f);

                                // Store each newly uploaded file as each upload attempt i.e. drag once, then drag another,
                                // overwrites the input's file list
                                ImageUploader.filesList.push(f);
                            });
                        }
                        // TODO Handle Deleting images and loading existing ones into the uploader
                        // is data not auto-added to form data on add (drag / select)?
                    </script>
                </div>
                <div class="form-group">
                    <label>Post to Local Town</label>
                    <div class="input-with-icon">
                        <select class="select-post-town" name="town" data-width="100%">
                          {% for town in data.towns %}
                            {% if data.post.town === town.id %}
                              <option value="{{town.id}}" selected="selected">{{town.name}}</option>
                            {% else %}
                              <option value="{{town.id}}" >{{town.name}}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                        <span class="iconcenter">
                            {% include '../icons/map_pin.html' %}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Nearest Crossroads</label>
                    <div class="input-with-icon">
                        <input name="location" value="{{data.post.location}}" class="input-with-icon" type="search" />
                        <span class="iconcenter">
                            {% include '../icons/map_compass.html' %}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <fc-editor name="description" value="{{data.post.description}}"></fc-editor>
                </div>
                <div class="form-group">
                    <label>Tags</label>
                    <select class="select-new-post-tags" name="tags" multiple="multiple" data-width="100%">
                      {% for tag in data.tags %}
                        {% if data.post.tags.includes(tag.id) %}
                          <option value="{{tag.id}}" selected="selected">{{tag.name}}</option>
                        {% else %}
                          <option value="{{tag.id}}">{{tag.name}}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                </div>
                <div class="form-group text-center terms-conditions">
                    <input type="checkbox" name="acceptedTerms" value="1" /> <span class="button-palette-group-title">I AGREE TO THE </span> <a href="/"> TERMS AND CONDITIONS</a> {# TODO: update the link to terms #}
                </div>
                <div class="form-group text-center">
                    <button type="submit" role="submit" class="btn-default btn-wide">Post Item</button>
                </div>
            </form>
        </div>
        <hr class="section-divider" />
    </div>
    <div id="respy"></div>
    {% include '../partials/in_body_banner_row.html'%}

{% endblock %}
