{% extends '../layout/layout.html' %}

{% block content %}

<div class="horizontal_tabs">
  <!--  tabs  -->
  <ul class="tabs" id="h-example-tabs" data-tab data-update-history="true" data-options="deep_linking:true">
    {% include '../partials/home_tabs.html' %}
  </ul>
<pre>{{data.settings|json}}</pre>
  <!--  tabs-content  -->
  <div class="tabs-content" data-tabs-content="h-example-tabs">
    <div class="tabs-panel is-active" id="dashboard">
      <div>
        {% for error in errors %}
          <p class="callout alert">{{ error.message }}</p>
        {% endfor %}
      </div>
      <h2 class="post-header-title text-center columns large-12">{{ title }}</h2>
      <div class="profile-pic">
        <img src="{{data.settings.image}}" style="max-width: 50%;" alt="Current profile image"/>
      </div>
      <form class="edit-profile" method="post" enctype="multipart/form-data">
        <div class="row">
          <div class="medium-6 columns form-group">
            <label for="firstName">First Name
              <input type="text" name="firstName" value="{{data.settings.firstName}}"/>
            </label>
          </div>
          <div class="medium-6 columns form-group">
            <label for="lastName">Last Name
              <input type="text" name="lastName" value="{{data.settings.lastName}}"/>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="medium-12 columns form-group">
            <label for="about">Tagline
              <input type="text" name="about" value="{{data.settings.about}}" />
            </label>
          </div>
        </div>
        <div class="row">
          <div class="medium-12 columns form-group">
            <label class="upload-pic btn btn-default text-white" for="image">Upload a New Image</label>
              <input type="file" name="image" id="image" accept="image/*" class="show-for-sr" />
          </div>
        </div>
        <div class="row">
          <div class="medium-12 columns form-group">
            <label for="password">New Password
              <input type="password" name="password"/>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="medium-12 columns form-group">
            <label for="confpassword">Confirm New Password
              <input type="password" name="confpassword"/>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="medium-6 columns form-group">
            <label for="email">Email Address</label>
            <div class="input-group edit-profile_group">
              <input type="email" class="input-group-field" name="email" value="{{data.settings.email}}"/>
              <!-- <div class="input-group-button"> -->
                <input type="button" class="btn btn-default btn-verification" name="sendVerification" value="Send Verification" />
              <!-- </div> -->
            </div>
          </div>
          <div class="medium-6 columns form-group">
            <label for="phone">Phone Number</label>
            <div class="input-group edit-profile_group">
              <input type="tel" class="input-group-field" name="phone" value="{{data.settings.phone}}"/>
              <!-- <div class="input-group-button"> -->
                <!input type="button" class="btn btn-default btn-verification" name="phone" value="Test SMS Confirm" />
              <!-- </div>   -->
            </div>
          </div>
        </div>
        {% include '../partials/language_preferences.html' %}
        <div class="row">
          {% include '../partials/home_group.html' %}
          {% include '../partials/default_location.html' %}
        </div>
          <div class="row">
            Email format: {{ data.settings.email_format}}
          </div>
        {%  include '../partials/notification_prefs.html' with {notificationOptions: data.notificationOptions} %}
        <input type="submit" class="btn-fb" value="Link to Facebook"/>
        <input type="submit" class="btn-default" value="Save Changes"/>
      </form>
    </div>
    <div class="tabs-panel" id="myreplies"></div>
    <div class="tabs-panel" id="myposts"></div>
    <div class="tabs-panel" id="myfriends"></div>
    <div class="tabs-panel" id="mygroups"></div>
  </div>
  {% include '../partials/in_body_banner_row.html'%}
</div>


{% endblock %}
