{% extends '../layout/layout.html' %}

{% block content %}
{# TODO: make this use horizontal_tabs like everywhere else #}
<div class="horizontal_tabs">
  <!--  tabs  -->
  <ul class="tabs" id="h-example-tabs" data-tab data-update-history="true" data-options="deep_linking:true">
    {% include '../partials/home_tabs.html' %}
  </ul>
  <!--  tabs-content  -->
  <div class="tabs-content" data-tabs-content="h-example-tabs">
    <div class="tabs-panel is-active" id="dashboard">
      <div>
        {% for error in errors %}
          <p class="callout alert">{{ error.message }}</p>
        {% endfor %}
      </div>
      <h2 class="post-header-title text-center columns large-12">{{ title }}</h2>
      <div class="profile-pic">
        <img src="{{data.settings.image}}" style="max-width: 50%;" alt="Current profile image"/>
      </div>
      <form class="edit-profile" method="post" enctype="multipart/form-data">
        <div class="row">
          <div class="medium-6 columns form-group">
            <label for="firstName">First Name
              <input type="text" name="firstName" value="{{data.settings.firstName}}"/>
            </label>
          </div>
          <div class="medium-6 columns form-group">
            <label for="lastName">Last Name
              <input type="text" name="lastName" value="{{data.settings.lastName}}"/>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="medium-12 columns form-group">
            <label for="about">Tagline
              <input type="text" name="about" value="{{data.settings.about}}" />
            </label>
          </div>
        </div>
        <div class="row">
          <div class="medium-12 columns form-group">
            <label class="upload-pic btn btn-default text-white" for="image">Upload a New Image</label>
              <input type="file" name="image" id="image" accept="image/*" class="show-for-sr" />
          </div>
        </div>
        <div class="row">
          <div class="medium-12 columns form-group">
            <label for="password">New Password
              <input type="password" name="password"/>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="medium-12 columns form-group">
            <label for="confpassword">Confirm New Password
              <input type="password" name="confpassword"/>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="medium-6 columns form-group">
            <label for="email">Email Address</label>
            <div class="input-group edit-profile_group">
              <input type="email" class="input-group-field" name="email" value="{{data.settings.email}}"/>
              <!-- <div class="input-group-button"> -->
                {% if !data.settings.verified %}
                <input type="button" class="btn btn-default btn-verification" name="sendVerification" value="Send Verification" />
                {% else %}
                    {% include "../partials/user_verified.html" %}
                {% endif %}
              <!-- </div> -->
            </div>
          </div>
          <div class="medium-6 columns form-group">
            <label for="phone">Phone Number</label>
            <div class="input-group edit-profile_group">
              <input type="tel" class="input-group-field" name="phone" value="{{data.settings.phone}}"/>
              <!-- <div class="input-group-button"> -->
                <!--<input type="button" class="btn btn-default btn-verification" name="phone" value="Test SMS Confirm" />-->
              <!-- </div>   -->
            </div>
          </div>
        </div>
          <div class="row">
            {% include '../partials/language_preferences.html' %}
          </div>
          <div class="row">
              <div class="medium-12 columns form-group">
              <label for="emailFormat">Email format
                      <select class="select-email-format" name="emailFormat" data-width="100%">
                          {% if data.settings.emailFormat === 'html' %}
                          <option value="html" selected="selected">HTML</option>
                          {% else %}
                          <option value="html">HTML</option>
                          {% endif %}
                          {% if data.settings.emailFormat === 'text' %}
                          <option value="text" selected="selected">Text</option>
                          {% else %}
                          <option value="text">Text</option>
                          {% endif %}
                      </select>
                  </label>
              </div>
        </div>
        <div class="row">
          {% include '../partials/home_group.html' %}
          {% include '../partials/default_location.html' %}
        </div>
        <hr>
        <h3 class="text-center columns">Global Email Preferences</h3>
        {% for emailType in data.emailTypes %}
          <div class="row">
            {% if data.settings.emailTypePreferences|contains(emailType.id) %}
              <input type="checkbox" id="email-type-{{emailType.id}}" name="emailTypePreferences" value="{{emailType.id}}" checked />
            {% else %}
              <input type="checkbox" id="email-type-{{emailType.id}}" name="emailTypePreferences" value="{{emailType.id}}" />
            {% endif %}
            <label for="email-type-{{emailType.id}}">{{emailType.name}}</label>
          </div>
        {% endfor %}
        {% if data.settings.townNotificationPreferences %}
          <h3 class="text-center columns">Town Email Preferences</h3>
          {%  include '../partials/notification_prefs.html' with { notificationOptions: data.notificationOptions, preferences: data.settings.townNotificationPreferences } %}
        {% endif %}
        <input type="submit" class="btn-fb" value="Link to Facebook"/>
        <input type="submit" class="btn-default" value="Save Changes"/>
      </form>
      <div style="text-align: center; margin-top: 2rem;">
        {% if data.settings.facebookId %}
            <hr>
            <form method="POST" action="/fb-disconnect">
              <button name="action" class="btn btn-fb" style="margin: 2px">
                 <i class="icon fa fa-sign-out"></i> Disconnect Facebook Account
               </button>
            </form>
        {% else %}
            <hr>
            <form method="POST" action="/fb-connect">
              <button name="action" class="btn btn-fb" style="margin: 2px">
                 <i class="icon fa fa-sign-in"></i> Connect Account to Facebook
               </button>
            </form>
        {% endif %}
      </div>
    </div>
    <div class="tabs-panel" id="myreplies"></div>
    <div class="tabs-panel" id="myposts"></div>
    <div class="tabs-panel" id="myfriends"></div>
    <div class="tabs-panel" id="mygroups"></div>
  </div>
  {% include '../partials/in_body_banner_row.html'%}
</div>


{% endblock %}
