/*   NEUTRAL  */

.bg-white {
  background-color: $white;
}

.bg-black {
  background-color: $black;
}

.bg-light-gray {
  background-color: $light-gray;
}

.bg-medium-gray {
  background-color: $medium-gray;
}

.bg-dark-gray {
  background-color: $dark-gray;
}

/*   PRIMARY   */

.bg-primary {
  background-color: palette(primary);
}

.bg-primary-darken {
  background-color: palette(primary-darken);
}

.bg-primary-darker {
  background-color: $dark-green;
}

.bg-primary-darkest {
  background-color: $black;
}
