/* note: this file is provided by the fc3_common_assets package */

@mixin listReset() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin icon() {
  width: 1rem;
}

@mixin iconWithLeftText() {
  font-family: $header-font-family;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8rem;
  svg {
    vertical-align: middle;
  }
  span {
    vertical-align: middle;
    padding-left: .5rem;
  }
}

@mixin tabsReset() {
  background: none;
  border: none;

  .tabs-title {
    a {
      @include heading-text();
    }
  }

  .tabs-title > a:focus,
  .tabs-title > a:hover,
  .tabs-title > a[aria-selected='true'] {
    background: $white;
    color: $link-style;
  }
}
