/* note: this file is provided by the fc3_common_assets package */

html,body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: $body-background;
}

a {
  color:$link-style;
  transition:all 250ms ease;
}

input {
  min-height: 40px;
}

