/* note: this file is provided by the fc3_common_assets package */

@mixin heading-text() {
  font-family: $header-font-family;
  font-size: rem-calc(12px);
  font-weight: bold;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

.text-offer {
  color: palette(offer-darken);
}

.text-wanted {
  color: palette(wanted-darken);

}

.text-lend {
  color: palette(lend-darken);

}

.text-borrow {
  color: palette(borrow-darken);
}

.text-lighten {
  color: $medium-gray;
}

.text-lighten-less {
  color: $dark-gray;
}

.section-title {
  color: $dark-green;
  font-family: $header-font-family;
  font-size: rem-calc(30px);
  font-weight: bold;
  line-height: rem-calc(40px);
  margin: 1rem 0;
}

.section-title-small {
  @include heading-text();
  margin: 1rem 0;
}


.heading-with-icon {
  svg {
    @include icon();
  }

  @include heading-text();
  margin-left: 0.5rem;
}

p {
  color: $black;
  font-family: $body-font-family;
  font-size: rem-calc(16px);
  line-height: rem-calc(20px);

  a {
    font-weight: bold;
  }
}

.paragraph-small {
  font-family: $body-font-family;
  font-size: rem-calc(11px);
  line-height: rem-calc(14px);
  a {
    @include heading-text();
  }
}

svg {
  title {
     font-size: 0 !important;
     visibility: hidden;
  }
  desc {
     font-size: 0 !important;
     visibility: hidden;
  }
}
