/* note: this file is provided by the fc3_common_assets package */

@function palette($key) {
  @if map-has-key($freecycle-palette, $key) {
    @return map-get($freecycle-palette, $key);
  }

  @warn "Unknown `#{$key}` in $freecycle-palette";
  @return null;
}

.pulse {

  position: relative;
  border: none;
  box-shadow: 0 0 0 0 rgba(52, 178, 51, 0.7);
  cursor: pointer;
  -webkit-animation: pulse 3.25s infinite cubic-bezier(0, 0, 0, 2);
  -moz-animation: pulse 3.25s infinite cubic-bezier(0, 0, 0, 2);
  -ms-animation: pulse 3.25s infinite cubic-bezier(0, 0, 0, 2);
  animation: pulse 3.25s infinite cubic-bezier(0, 0, 0, 2);
}
.pulse:hover
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(52, 178, 51, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(52, 178, 51, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(52, 178, 51, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(52, 178, 51, 0);}}

/* Ensures alert callouts appear above modal background */
#callout {
  z-index: 5000 !important;
}

// custom class to set the hoverstate of an element
.hover-state {
  transition: all .3s ease-in-out;
}
.hover-state:hover {
  transform: scale(1.1);
}

// custom class for disabled elements
.fc-disabled {
  filter: grayscale(100%)
}

// add custom class for avatar styling
.fc-avatar {
  background-color: #ede7de;
  border-radius: 50% 50% 50% 50%;
  height: 100px;
  padding: 4px;
}

// floating action button
$primary: rgba(52, 178, 51, 0.7);
$white: #fff;
.fab {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: relative;
	background-color: $primary;
	cursor: pointer;
	transition: .3s cubic-bezier(.41,-0.86,.76,1.89);

	&.open {
		width: 40px;
		height: 40px;
		transition: .3s cubic-bezier(.41,-0.86,.76,1.89);
  }

  &.open.text {
    display: none;
  }

	.option {
		width: 6px;
		height: 6px;
		overflow: hidden;
		background-color: $white;
		border-radius: 50%;
		position: absolute;
		top: calc(50% - 20px);
		transition: .3s cubic-bezier(.41,-0.86,.76,1.89);
		display: none;
		align-items: center;
		justify-content: center;


		&.fb {
			left: calc((100% / 3) - 3px);
		}

		&.twitter {
			left: calc(50% - 3px);
		}

		&.delete {
			left: calc(((100% / 3) * 2) - 3px);
		}

		i {
			font-size: 20px;
			color: $white;
			transform: scale(0);
			transition: .5s cubic-bezier(.41,-2,.76,2);
		}

		&.open {
			width: 40px;
			height: 40px;
      background-color: rgba(0,0,0,.3);
      display: flex;

			&.fb {
				transform: translate(-60px, -50px);
			}

			&.twitter {
				transform: translate(-20px, -75px);
			}

			&.delete {
				transform: translate(25px, -50px);
      }

      &.text {
        display: none;
      }

			i {
				transform: scale(1);
				transition: .5s cubic-bezier(.41,-2,.76,2);
			}
		}
	}

	.close {
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		overflow: hidden;

		i {
			color: $white;
			font-size: 20px;
			transform: scale(0);
		}

		&.open {
			i {
				transform: scale(1);
				transition: .5s cubic-bezier(.41,-2,.76,2);
			}
		}
	}
}

.woba {
	display: block;
	position: absolute;
	background: $white;
	border-radius: 100%;
	transform: scale(0);
	opacity: .5;
}

.woba.animate {
	animation: ripple .5s linear forwards;
}

@keyframes ripple {
	100% {opacity: 0; transform: scale(2.5);}
}

// fixes styling issue when we have to use an input as a button.
input.btn {
	border: none;
}